<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row
      [ngStyle.lt-sm]="{ padding: '0 2rem' }"
      class="toolbar-container"
    >
      <app-nav-bar
        fxHide
        fxShow.gt-md="false"
        fxShow.lt-md="true"
        [data]="initialData"
        [isRootNode]="true"
      ></app-nav-bar>

      <div
        style="padding-bottom: 1%"
        clas="language-selector"
        fxFlexOrder.gt-md="-1"
        fxFlexOrder.lt-md="1"
        [ngStyle.lt-md]="{ 'margin-left': '3%' }"
        [ngStyle.lt-sm]="{ 'padding-bottom': '1.4%', 'margin-left': '3%' }"
      >
        <a href="#" class="text--medium"> ΕΛ </a> &#124;
        <a href="#" class="text--medium">EN </a>
      </div>
      <a href="#" class="icon--medium left-spacer--mini">
        <i class="ph-magnifying-glass"></i>
      </a>
      <span class="spacer"></span>
      <span>My App</span>
      <span class="spacer"></span>
      <a fxShow.lt-sm="false" href="#" class="icon--medium">
        <!-- <mat-icon>share</mat-icon> -->
        <i class="ph-user"></i>
      </a>
      <a fxShow.lt-sm="false" href="#" class="icon--medium">
        <i class="ph-heart"></i>
      </a>
      <a href="#" class="icon--medium">
        <i class="ph-shopping-bag"></i>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow fxHide.lt-md="true" fxHide.gt-md="false">
      <span class="spacer"></span>
      <ul class="main-nav-list">
        <li
          class="main-nav-link"
          *ngFor="let navBarElement of initialData; let i = index"
        >
          <a
            *ngIf="!initialData[i].subNavBarElements"
            href="{{ initialData[i].href }}"
            class="text--large"
          >
            {{ initialData[i].text }}</a
          >
        </li>
      </ul>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu #navigationBar="matMenu">
    <button mat-menu-item></button>
  </mat-menu>
</header>
