<app-spinner *ngIf="isLoading"></app-spinner>
<form
  [formGroup]="theSignupForm"
  (submit)="onSignup(theSignupForm)"
  *ngIf="!isLoading"
>
  <mat-form-field color="accent">
    <mat-label>E-mail</mat-label>
    <input formControlName="email" matInput type="email" required email />
    <mat-error *ngIf="theSignupForm.get('email')!.invalid"
      >Please enter a valid email address</mat-error
    >
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>first name</mat-label>
    <input formControlName="firstName" matInput type="text" required />
    <mat-error *ngIf="theSignupForm.get('firstName')!.invalid"
      >Please enter a valid name</mat-error
    >
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>last name</mat-label>
    <input formControlName="lastName" matInput type="text" required />
    <mat-error *ngIf="theSignupForm.get('lastName')!.invalid"
      >Please enter a valid name</mat-error
    >
  </mat-form-field>

  <mat-label color="accent">Password</mat-label>
  <div formGroupName="passwordsForm">
    <mat-form-field color="accent">
      <input formControlName="password" matInput type="password" required />
      <mat-error *ngIf="theSignupForm.get('passwordsForm.password')!.invalid"
        >Password must contain minimum eight characters, at least one letter and
        one number</mat-error
      >
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Password Confirm</mat-label>
      <input
        formControlName="passwordConfirm"
        matInput
        type="password"
        required
      />
      <mat-error
        *ngIf="
      theSignupForm.get('passwordsForm.passwordConfirm')!.errors
                  ?.['mismatch']
              "
        >Passwords do not match</mat-error
      >
    </mat-form-field>
  </div>
</form>
