.concept-sentence {
  font-size: 2.1rem;
  line-height: 1.75;
  font-weight: 600;
  align-self: center;
}

.concept-sentence-container {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 10%);
}

/* h3 {
  font-size: 2.3rem;
} */
