.container {
  padding: 5%;
  text-align: center;
}

.header {
  font-weight: 600;
  text-transform: uppercase;

  /* border-bottom: solid 1px #c8c8c8; */
}

.header-wrapper {
  padding: 20% 0;
}

.header-wrapper > hr {
  margin-top: 5%;
  /* border: none;
  height: 0.5rem;
  background-color: #c8c8c8; */
}
:host {
  ::ng-deep {
    .mat-chip,
    .mat-chip.mat-standard-chip,
    .mat-chip.mat-standard-chip,
    .mat-chip-list-wrapper input.mat-input-element,
    .mat-chip-list-wrapper .mat-standard-chip {
      background-color: transparent !important;
      margin: 0;
      font-size: 1.35rem;
      text-transform: uppercase;
    }
  }

  ::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove {
    display: flex;
    align-items: center;
  }
}
