<div class="container">
  <div class="header-wrapper">
    <span class="header">{{ mainHeader }}</span>
    <hr />
  </div>
  <div>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let chip of chipsList" (removed)="remove(chip)">
        {{ chip.value }}
        <button matChipRemove>
          <i class="ph-x"></i>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>

  <!-- Accordion Start -->
  <app-accordion [collapsing]="collapsing">
    <ng-container *ngFor="let panel of panels">
      <accordion-item title="{{ panel.data.header }}">
        <ng-template accordionContent>
          <!-- Panel Start -->
          <app-accordion [panels]="panels"></app-accordion>
          <!-- Panel end -->
        </ng-template>
      </accordion-item>
    </ng-container>
  </app-accordion>
  <!-- Accordion End -->
</div>
