<div class="container">
  <div class="header-wrapper">
    <span class="header">{{ mainHeader | translate }}</span>
    <hr />
  </div>
  <div>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let chip of chipsList" (removed)="remove(chip)">
        {{ chip.key | translate }} : {{ chip.value | translate }}
        <button matChipRemove>
          <i class="ph-x"></i>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>

  <!-- Accordion Start -->
  <div class="ui styled fluid accordion">
    <app-accordion isCollapsed="false">
      <ng-container *ngFor="let panel of accordionPanels; let i = index">
        <panel-item>
          <ng-template panelHeader>
            {{ panel.data.header | translate | uppercase }}
            <!-- {{
            'I will be displayed in the [ngTemplateOutlet]="item.panelHeader.templateRef"'
          }} -->
          </ng-template>
          <ng-template panelContent>
            <!-- {{
            'I will be displayed in the [ngTemplateOutlet]="item.panelContent.templateRef"'
          }} -->
            <app-accordion [index]="i"></app-accordion>
          </ng-template>
        </panel-item>
      </ng-container>
    </app-accordion>
  </div>
  <!-- Accordion End -->
</div>
