<footer class="container">
  <mat-toolbar color="primary">
    <!-- wrapper -->
    <div
      [ngStyle.lt-md]="{ 'text-align': 'center' }"
      gdAreas="{{ colsEqualtoArrLength }}"
      gdAreas.lt-sm="{{ colsEqualto1 }}"
      gdAreas.lt-md="{{ colsEqualtoRows }}"
      gdGap="2% 2%"
      gdGap.lt-md="15% 15%"
      gdGap.lt-sm="4% 4%"
      *ngIf="footer_content"
      class="footer-wrapper"
    >
      <!-- logo -->
      <div
        [ngStyle.lt-md]="{ 'font-size': '1.5rem' }"
        *ngIf="footer_content[0].links"
        class="footer-col logo"
      >
        <div class="logo-container">
          <div>My app</div>
          <div [ngStyle.lt-md]="{ 'margin-bottom': '6%' }" class="social-media">
            <a href="#">
              <i class="icon ph-instagram-logo"></i>
            </a>
            <a href="#">
              <i class="icon ph-facebook-logo"></i>
            </a>
          </div>
          <div [ngStyle.lt-md]="{ 'font-size': '1.2rem' }" class="order">
            {{ footer_content[0].links[0].text | translate }}
          </div>
          <div [ngStyle.lt-md]="{ 'font-size': '1.2rem' }" class="order">
            <b>
              <a href="{{ footer_content[0].links[1].link }}">{{
                footer_content[0].links[1].text | translate
              }}</a>
            </b>
          </div>
        </div>
      </div>
      <!-- useful links -->
      <div class="footer-col information">
        <div [ngStyle.lt-md]="{ 'font-size': '1.5rem' }" class="header">
          {{ footer_content[1].header | translate }}
        </div>
        <div [ngStyle.lt-md]="{ 'font-size': '1.2rem' }" class="links">
          <ul>
            <li *ngFor="let link of footer_content[1].links; let i = index">
              <a href="#">{{ link.text | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- customer care -->
      <div
        [ngStyle.lt-md]="{ 'margin-bottom': '15%' }"
        [ngStyle.lt-sm]="{ 'margin-bottom': '0' }"
        class="footer-col contact"
      >
        <div [ngStyle.lt-md]="{ 'font-size': '1.5rem' }" class="header">
          {{ footer_content[2].header | translate }}
        </div>

        <div [ngStyle.lt-md]="{ 'font-size': '1.2rem' }" class="links">
          <ul>
            <li *ngFor="let link of footer_content[2].links; let i = index">
              <a href="#">{{ link.text | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- newsletter -->
      <div
        [ngStyle.lt-sm]="{ 'padding-bottom': '15%' }"
        class="footer-col newsletter"
      >
        <div [ngStyle.lt-md]="{ 'font-size': '1.5rem' }" class="header">
          {{ footer_content[3].header | translate }}
        </div>
        <div [ngStyle.lt-md]="{ 'font-size': '1.2rem' }" class="links">
          <form
            (ngSubmit)="onRegister(newsLetterForm)"
            [formGroup]="newsLetterForm"
            #emailForm
          >
            <app-input
              [formnControl]="newsLetterForm.get('emailControl')"
              [inputElement]="emailElement"
            ></app-input>
            <div class="button">
              <button
                [ngStyle.lt-md]="{ 'font-size': '1.2rem' }"
                mat-button
                type="submit"
              >
                {{ footer_content[3].links[0].text | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
