mat-toolbar {
  height: fit-content;
  margin-top: 2%;
}

.container {
  margin: 11% 3% 3% 3%;
}
.footer-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  font-weight: 400;
  /* column-gap: 2%; */
  flex: 1 1 auto;
}

.links,
.order {
  font-weight: 100;
  font-size: 1.5rem;
}

.icon {
  padding: 3%;
}

.social-media {
  margin-bottom: 14%;
  font-size: 3rem;
}
li {
  list-style: none;
}

.header {
  font-size: 1.8rem;
}

.logo-container {
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

button {
  display: block;
  background-color: rgb(85, 85, 85);
  color: white;
  width: 100%;
}

::ng-deep .mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-menu-item,
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik", sans-serif !important;
  font-weight: 500 !important;
}

.header {
  text-transform: uppercase;
}
