<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <app-modal (close)="toggleModal(); mainActive = true" *ngIf="modalOpen">
    <div modalTitle>{{ "register" | translate }}</div>
    <div class="wrapper">
      <span class="modal-item">
        <app-login
          [ngStyle]="{
            opacity: mainActive ? 1 : 0,
            'z-index': mainActive ? 1000 : -1000
          }"
          class="main"
        ></app-login>
        <app-login-promo
          [ngStyle]="{
            opacity: mainActive ? 0 : 1,
            'z-index': mainActive ? -1000 : 1000
          }"
          class="secondary"
        >
          <button (click)="toggleActive()" mat-raised-button color="accent">
            {{ "Open Login Form" | translate }}
          </button>
        </app-login-promo>
      </span>
      <span class="modal-item">
        <app-signup
          [ngStyle]="{
            opacity: mainActive ? 0 : 1,
            'z-index': mainActive ? -1000 : 1000
          }"
          class="secondary"
        ></app-signup>
        <app-signup-promo
          [ngStyle]="{
            opacity: mainActive ? 1 : 0,
            'z-index': mainActive ? 1000 : -1000
          }"
          class="main"
        >
          <button (click)="toggleActive()" mat-raised-button color="accent">
            {{ "Open Signup Form" | translate }}
          </button>
        </app-signup-promo>
      </span>
    </div>
    <ng-container modalFooter>
      <button
        [ngStyle]="{ opacity: mainActive ? 1 : 0 }"
        mat-button
        mat-raised-button
        color="accent"
      >
        {{ "login" | translate }}
      </button>
      <button
        [ngStyle]="{ opacity: mainActive ? 0 : 1 }"
        mat-button
        mat-raised-button
        color="accent"
        (click)="onSubmit()"
      >
        {{ "signup" | translate }}
      </button>
    </ng-container>
  </app-modal>
</div>
