<div class="container">
  <app-header></app-header>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

  <!-- app-modal -->
  <app-modal
    [mainActive]="mainActive"
    (close)="toggleModal(); mainActive = true"
    *ngIf="modalOpen"
  >
    <div modalTitle *ngIf="!withWarning">{{ "register" | translate }}</div>
    <div modalTitle *ngIf="withWarning" class="ui warning message">
      <div class="header">{{ "you must login first" | translate }}!</div>
    </div>
    <div
      ngClass="wrapper--row"
      [ngClass.lt-sm]="{
        'wrapper--col-rev': mainActive,
        'wrapper--col': !mainActive
      }"
    >
      <span class="modal-item">
        <app-login
          [ngStyle]="{
            opacity: mainActive ? 1 : 0,
            'z-index': mainActive ? 1000 : -1000
          }"
          ngClass="main"
          [ngClass.lt-sm]="{ top50: !mainActive, bottom50: mainActive }"
        ></app-login>
        <app-login-promo
          [ngStyle]="{
            opacity: mainActive ? 0 : 1,
            'z-index': mainActive ? -1000 : 1000
          }"
          class="secondary"
        >
          <button (click)="toggleActive()" mat-raised-button color="accent">
            {{ "Open Login Form" | translate }}
          </button>
        </app-login-promo>
      </span>
      <span
        ngClass="modal-item"
        [ngClass.lt-sm]="{ 'signup-promo': mainActive }"
      >
        <app-signup
          [ngStyle]="{
            opacity: mainActive ? 0 : 1,
            'z-index': mainActive ? -1000 : 1000
          }"
          ngClass="secondary"
          [ngClass.lt-sm]="{ bottom5: !mainActive }"
        ></app-signup>
        <app-signup-promo
          [ngStyle]="{
            opacity: mainActive ? 1 : 0,
            'z-index': mainActive ? 1000 : -1000
          }"
          ngClass="main"
          [ngClass.lt-sm]="{ top11: mainActive }"
        >
          <button (click)="toggleActive()" mat-raised-button color="accent">
            {{ "Open Signup Form" | translate }}
          </button>
        </app-signup-promo>
      </span>
    </div>
    <ng-container modalFooter>
      <button
        class="footer-button"
        *ngIf="mainActive"
        mat-button
        mat-raised-button
        color="accent"
        (click)="onSubmitLogin()"
      >
        {{ "login" | translate }}
      </button>
      <button
        class="footer-button"
        *ngIf="!mainActive"
        mat-button
        mat-raised-button
        color="accent"
        (click)="onSubmitSignup()"
      >
        {{ "signup" | translate }}
      </button>
    </ng-container>
  </app-modal>
  <!-- app-modal -->
</div>
