$base-width: 25rem;

.products {
  cursor: move;
  // display: grid;
  /* position: absolute; */
  user-select: none;
  width: 26.5rem;
  height: auto !important;
  display: flex;
  flex-direction: column;
  // transform: translateX(100%);
  // align-items: center;
  margin-left: 7rem;
}

.wrapper {
  position: relative;
  margin: 3rem;
  height: 100%;
  transition: scrollLeft 0.5s ease-in-out;
  width: $base-width;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
}

.main-product {
  opacity: 1;
  // visibility: visible;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.hover-product {
  opacity: 0;
  // visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.main-product:hover {
  opacity: 0;
  // visibility: hidden;
}

.hover-product:hover {
  opacity: 1;
  // visibility: visible;
}
