<!-- <div (window:resize)="getProducts()" class="products">
  <ng-container *ngIf="arrOfRows">
    <div class="row" *ngFor="let row of arrOfRows; let i = index">
      <div class="col" *ngFor="let col of arrOfCols; let j = index">
        <ng-container *ngIf="products[i * arrOfCols.length + j]">
          {{ i * arrOfCols.length + j }}
          <div>
            {{ i * arrOfCols.length + j }}

            <app-item
              [index]="i * arrOfCols.length + j"
              (invoke)="updateIndex($event)"
              [items]="items"
            ></app-item>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div> -->

<div class="products">
  <ng-container *ngIf="arrOfRows">
    <div class="col" *ngFor="let row of arrOfRows; let i = index">
      <div class="row">
        <ng-container *ngFor="let col of arrOfCols; let j = index">
          <div *ngIf="products[i * arrOfCols.length + j]" class="wrapper">
            <div class="product main-product">
              <app-item
                [index]="i * arrOfCols.length + j"
                [imageSrc]="products[i * arrOfCols.length + j].src"
                (invoke)="updateIndex($event)"
                (invokeSrc)="updateImgSrc($event)"
                [items]="items"
              ></app-item>
            </div>
            <div class="product hover-product">
              <app-item
                [index]="i * arrOfCols.length + j"
                [imageSrc]="products[i * arrOfCols.length + j].altSrc"
                (invoke)="updateIndex($event)"
                (invokeSrc)="updateImgSrc($event)"
                [items]="items"
              ></app-item>
            </div>
          </div>
          <!--  -->
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
