<form>
  <div class="boxes-container">
    <div class="form-wrapper">
      <div class="personal-info-wrapper">
        <div class="personal-info-container">
          <h3 class="ui header">
            {{ "shipping address" | translate | titlecase }}
          </h3>
          <div class="two fields">
            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'first name' | translate | titlecase }}"
              />
            </div>

            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'last name' | translate | titlecase }}"
              />
            </div>
          </div>
          <div class="two fields">
            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'company name' | translate | titlecase }}"
              />
            </div>

            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'address' | translate | titlecase }}"
              />
            </div>
          </div>
          <div class="two fields">
            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'city' | translate | titlecase }}"
              />
            </div>

            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'state' | translate | titlecase }}"
              />
            </div>
          </div>
          <div class="two fields">
            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'postal code' | translate | titlecase }}"
              />
            </div>

            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'country' | translate | titlecase }}"
              />
            </div>
          </div>
          <div class="two fields">
            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'phone number' | translate | titlecase }}"
              />
            </div>

            <div class="ui input">
              <input
                type="text"
                placeholder="{{ 'fax' | translate | titlecase }}"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="shipping-wrapper">
        <div class="shipping-container">
          <h3 class="ui header">
            {{ "shipping method" | translate | titlecase }}
          </h3>
        </div>
      </div>
      <div class="button-wrapper">
        <div
          class="rowX4 button"
          (click)="triggerRouterOutletActivate('billing')"
          routerLink="../billing"
        >
          <button type="button" class="button-text">
            {{ "next step" | translate | titlecase }}
          </button>
        </div>
      </div>
    </div>
    <div class="summary-external-wrapper">
      <div class="summary-wrapper">
        <div class="summary-container">
          <!-- <h3 class="ui header">
            {{ "summary" | translate | titlecase }}
          </h3> -->
          <app-order-accordion [cart]="cart"></app-order-accordion>
        </div>
      </div>
      <div class="button-wrapper">
        <div class="rowX4 button" [routerLink]="['../..']">
          <button type="button" class="button-text">
            {{ "back to cart" | translate | titlecase }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
