.button {
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.col:hover {
  border-radius: 25%;
  background-color: #00000045;
}

.active {
  border-radius: 25%;
  background-color: #00000045;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.color {
  /* if margin is changed updateRowsCols() methods should be updated*/
  margin: 0.6rem;
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid;
}

.red {
  background-color: #d91111;
}

.blue {
  background-color: blue;
}

.green {
  background-color: #79bd94;
}

.white {
  background-color: white;
}

.beige {
  background-color: #dbceab;
}

.brown {
  background-color: #8a4911;
}

.yellow {
  background-color: #ffff00;
}

.pink {
  background-color: #f580e7;
}

.mocha {
  background-color: #ae8c68;
}

.purple {
  background-color: #8f0e8f;
}

.orange {
  background-color: #fa7908;
}
