<div class="container">
  <div class="row" *ngFor="let row of arrOfRows; let i = index">
    <ng-container *ngFor="let col of arrOfCols; let j = index">
      <div
        *ngIf="elementList[i * arrOfCols.length + j]"
        [ngClass]="{ active: activeStatusArray[i * arrOfCols.length + j] }"
        class="col"
        (click)="toggleActiveClass(i * arrOfCols.length + j)"
      >
        <div
          (click)="onSubmit(i * arrOfCols.length + j)"
          class="button color {{
            elementList[i * arrOfCols.length + j].text_en
          }}"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
