<div class="container">
  <div class="col" *ngFor="let row of arrOfRows; let i = index">
    <div class="row">
      <ng-container *ngFor="let col of arrOfCols; let j = index">
        <div
          *ngIf="i === 0 && colorsArr[j]"
          class="color {{ colorsArr[j].color }}"
        ></div>
        <div
          *ngIf="i === 1 && colorsArr[arrOfCols.length + j]"
          class="color {{ colorsArr[arrOfCols.length + j].color }}"
        ></div>
        <div
          *ngIf="i !== 0 && i !== 1 && colorsArr[i * arrOfCols.length + j]"
          class="color {{ colorsArr[i * arrOfCols.length + j].color }}"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
