<div class="elements">
  <ng-container *ngIf="arrOfRows">
    <div class="row" *ngFor="let row of arrOfRows; let i = index">
      <div class="col" *ngFor="let col of arrOfCols; let j = index">
        {{ i * arrOfCols.length + j }}
        <div
          *ngIf="responsiveComponents[i * arrOfCols.length + j]"
          class="wrapper"
        >
          <app-category
            [category]="responsiveComponents[i * arrOfCols.length + j]"
          ></app-category>
        </div>
      </div>
    </div>
  </ng-container>
</div>
