<div class="container">
  <!-- START search header UPPER DIVISION -->
  <div class="header-wrapper">
    <span class="header">
      {{ page.header | translate }} "{{ searchQuery }}"
    </span>
  </div>
  <!-- END search header  UPPER DIVISION-->

  <app-breadcrumb [breadcrumbs]="breadcrumbItems"></app-breadcrumb>

  <!-- START search body LOWER DIVISION-->
  <div class="results-wrapper">
    <!---- START side-bar LOWER DIVISION ---->
    <div class="results-sidebar">
      <app-side-bar></app-side-bar>
    </div>
    <!---- END side-bar LOWER DIVISION ---->

    <!---- START products catalog LOWER DIVISION ---->
    <div class="results-show">
      <app-responsive-catalog
        [elements]="products"
        [justify_content]="'left'"
        [margin]="'2rem'"
        [pageWidth]="pageWidth"
      >
        <parent-element *ngFor="let product of products">
          <ng-template firstElement>
            <div class="product main-product">
              <app-product
                [img_width]="'100%'"
                [product]="product"
                [source]="product.src"
              ></app-product>
            </div>
          </ng-template>
          <ng-template secondElement>
            <div class="product hover-product">
              <app-product
                [img_width]="'100%'"
                [product]="product"
                [source]="product.altSrc"
              ></app-product>
            </div>
          </ng-template>
          <ng-template thirdElement>
            <div class="product-details">
              <app-catalog-details
                [isAuthenticated]="isAuthenticated"
                [account]="account"
                [product]="product"
              ></app-catalog-details>
            </div>
          </ng-template>
        </parent-element>
      </app-responsive-catalog>
      <!-- START Error Message for no products -->
      <div
        *ngIf="totalProducts === 0 && isOpenErrorMessage"
        class="ui warning message"
      >
        <i (click)="isOpenErrorMessage = false" class="close icon"></i>
        <div class="header">{{ "no results" | translate }} !</div>
      </div>
      <!-- START Error Message for no products -->

      <!--  START paginator -->
      <div
        [style.width]="productsContainerWidth + 'px'"
        class="paginator"
        *ngIf="
          productsContainerWidth &&
          !isOpenErrorMessage &&
          totalProducts > productsPerPage
        "
      >
        <app-paginator
          [totalProducts]="totalProducts"
          [productsPerPage]="productsPerPage"
        ></app-paginator>
      </div>
      <!--  END paginator -->
    </div>
    <!---- END products catalog LOWER DIVISION ---->
  </div>
  <!-- END search body LOWER DIVISION-->
</div>
