.container {
  font-size: 1.5rem;
}

.header-wrapper {
  position: relative;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.header {
  font-size: 2.2rem;
  font-weight: 600;
}

.header::after {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: #c8c8c8;
  display: block;
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}
