$base-width: 25rem;

.products {
  cursor: move;
  // display: grid;
  /* position: absolute; */
  user-select: none;
  // display: flex;
  // flex-direction: row;
  width: $base-width;

  height: auto !important;
}

.wrapper {
  position: relative;
  margin: 3rem;
  height: 100%;
  width: $base-width;
  transition: scrollLeft 0.5s ease-in-out;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
}

.product {
  width: $base-width;
}

.main-product {
  opacity: 1;
  // visibility: visible;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.hover-product {
  opacity: 0;
  // visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.main-product:hover {
  opacity: 0;
  // visibility: hidden;
}

.hover-product:hover {
  opacity: 1;
  // visibility: visible;
}

.paginator {
  display: flex;
  justify-content: end;
}
