<div class="products">
  <ng-container *ngIf="arrOfRows">
    <div class="row" *ngFor="let row of arrOfRows; let i = index">
      <div class="col" *ngFor="let col of arrOfCols; let j = index">
        <div *ngIf="products[i * arrOfCols.length + j]" class="wrapper">
          <div class="product main-product">
            <app-product
              (elementInitialize)="updateProductWidth($event)"
              [product]="products[i * arrOfCols.length + j]"
              [source]="products[i * arrOfCols.length + j].src"
            ></app-product>
          </div>
          <div class="product hover-product">
            <app-product
              [product]="products[i * arrOfCols.length + j]"
              [source]="products[i * arrOfCols.length + j].altSrc"
            ></app-product>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div [style.width]="pageWidth + 'px'" class="paginator" *ngIf="pageWidth">
  <!-- <mat-paginator
    [length]="200"
    [pageSizeOptions]="[10, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator> -->
  <app-paginator></app-paginator>
</div>
