<div class="container">
  <div class="title-wrapper">
    <div class="title">
      <button class="control prev" (click)="moveLeft()">
        <span class="arrow left"></span>
      </button>
      <h3>Προσφορές</h3>
      <button class="control next" (click)="moveRight()">
        <span class="arrow right"></span>
      </button>
    </div>
    <hr />
  </div>

  <div
    [ngStyle]="{ cursor: isMouseDown ? 'grabbing' : 'grab' }"
    (mousedown)="mouseDownHandler($event)"
    (mousemove)="mouseMoveHandler($event)"
    (mouseup)="mouseUpHandler($event)"
    (touchstart)="touchStartHandler($event)"
    (touchmove)="touchMoveHandler($event)"
    (touchcancel)="touchCancelHandler($event)"
    #wrapper
    class="slider-container"
  >
    <div class="slides">
      <div class="wrapper" *ngFor="let product of products">
        <div class="slide main-slide">
          <img src="{{ product.src }}" />
          <div class="sales-text--wrapper">
            <div class="sales-text">-{{ product.sales }}%</div>
            <hr />
          </div>
          <div class="product-details">
            <div
              [ngStyle.lt-md]="{ 'font-size': '1.6rem' }"
              class="product product-name"
            >
              {{ product.name }}
            </div>
            <div
              [ngStyle.lt-md]="{ 'font-size': '1.3rem' }"
              class="procuct product-description"
            >
              {{ product.description }}
            </div>
            <div class="product product-actions">
              <a href="#" class="icon--medium">
                <i class="ph-heart"></i>
              </a>
              <a href="#" class="icon--medium">
                <i class="ph-shopping-bag"></i>
              </a>
            </div>
            <div class="product product-price--wrapper">
              <span class="product-price product-price-old">
                {{ product.price }}
              </span>
              <span class="product-price product-price-new">
                {{ product.special_price }}
              </span>
            </div>
          </div>
        </div>
        <div class="slide hover-slide">
          <img src="{{ product.altSrc }}" />
          <div class="sales-text--wrapper">
            <div class="sales-text">-{{ product.sales }}%</div>
            <hr />
          </div>
          <div class="product-details">
            <div
              [ngStyle.lt-md]="{ 'font-size': '1.6rem' }"
              class="product product-name"
            >
              {{ product.name }}
            </div>
            <div
              [ngStyle.lt-md]="{ 'font-size': '1.3rem' }"
              class="procuct product-description"
            >
              {{ product.description }}
            </div>
            <div class="product product-actions">
              <a href="#" class="icon--medium">
                <i class="ph-heart"></i>
              </a>
              <a href="#" class="icon--medium">
                <i class="ph-shopping-bag"></i>
              </a>
            </div>
            <div class="product product-price--wrapper">
              <span class="product-price product-price-old">
                {{ product.price }}
              </span>
              <span class="product-price product-price-new">
                {{ product.special_price }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
