.product-nominal-number {
  color: darkgrey;
}

.wrapper {
  position: relative;
  height: 100%;
  width: fit-content;
  transition: scrollLeft 0.5s ease-in-out;
}

.product {
  padding: 2% 0;
}

.main-product {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hover-product {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.main-product:hover {
  opacity: 0;
}

.hover-product:hover {
  opacity: 1;
}

.product-price::before {
  content: "\20AC";
}
