@import "semantic-ui-css/semantic.css";

.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}

i.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.ui.modal .content {
  font-size: 1.5rem;
}

