/* @import "semantic-ui-css/semantic.css"; */

.actions:empty {
  display: none;
}

.actions-default {
  display: none;
}

.actions:empty + .actions-default {
  display: block;
}

i.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.ui.modal .content {
  font-size: 1.5rem;
}

.content-mainActive {
  height: auto;
}

.content-mainNonActive {
  height: 36rem;
}

.content-lt-sm-mainNonActive {
  height: 50rem;
}

.content-default {
  padding: 2%;
  font-size: 1.5rem;
}
.ui.active.dimmer {
  z-index: 5000;
}

.ui.dimmer {
  background-color: #0000009e;
}

.ui.modal > .actions {
  text-align: left;
}
