<div (click)="onCloseClick()" class="ui dimmer visible active">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <div class="header">
      <i (click)="onCloseClick()" class="close icon"></i>
      <ng-content select="[modalTitle]"></ng-content>
    </div>
    <div
      [ngClass]="{
        'content-default': true,
        'content-mainNonActive': !mainActive,
        'content-mainActive': mainActive
      }"
      [ngClass.lt-sm]="{
        'content-default': true,
        'content-lt-sm-mainNonActive': !mainActive,
        'content-mainNonActive': !mainActive,
        'content-mainActive': false
      }"
    >
      <ng-content></ng-content>
    </div>
    <div class="actions actions-default">
      <button (click)="onCloseClick()" class="ui button">OK</button>
    </div>
    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div>
