.summary-external-wrapper {
  margin: 2% 1% auto auto;
  width: 49%;
}

.form-wrapper {
  margin: 2% 1% auto auto;
  width: 49%;
}

.ui.input {
  width: 48%;
  margin: 1%;
}

.billing-wrapper {
  border: 0.1rem solid;
}
.billing-container {
  margin: 3%;
}
.shipping-wrapper {
  margin-top: 4%;
  border: 0.1rem solid;
}

.shipping-container {
  margin: 3%;
}

.ui.input > input {
  border-radius: unset;
}

form {
  font-size: 1.2rem;
}

.summary-wrapper {
  border: 0.1rem solid;
}

.summary-container {
  margin: 3%;
}
.boxes-container {
  display: flex;
}

button {
  all: unset;
}

.button {
  /* margin-top: 1rem; */
  border: 0.1rem solid black;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 35%;
}

.button:hover {
  color: white !important;
  background-color: black;
}

.button-text {
  padding: 0.2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.paypal-buttons-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.paypal-buttons {
  width: 50%;
}
.paypal-button.paypal-button-shape-rect {
  border-radius: unset;
}

.subtotal {
  font-size: 1.7rem;
  color: black;
  font-weight: 500;
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
}

.subtotal::after {
  content: "";
  height: 0.1rem;
  background-color: #c8c8c8;
  display: block;
  margin-top: 5%;
}

.subtotal-number,
.total-number {
  position: absolute;
  right: 0;
}
.subtotal-number::after,
.total-number::after {
  content: "\20AC";
}

.total {
  position: relative;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

.row {
  margin-top: 5% !important;
}

.rowX2 {
  margin-top: 10% !important;
}

.rowX4 {
  margin-top: 20% !important;
}

.visible {
  display: block;
}

.info.message {
  display: none;
  color: #276f86;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  .info-message-container {
    display: flex;
    flex-direction: column;
    .header {
      text-align: center;
      margin-bottom: 1%;
    }
    .info-text {
      font-size: 1.3rem;
      padding-bottom: 3%;
    }
    .x-icon-container {
      display: flex;
      justify-content: right;
      margin-bottom: 1%;
    }

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: #276f86 !important;
      cursor: pointer;
    }
  }
}
