<div class="products">
  <ng-container *ngIf="arrOfRows">
    <div class="row" *ngFor="let row of arrOfRows; let i = index">
      <div class="col" *ngFor="let col of arrOfCols; let j = index">
        <ng-container *ngIf="products[i * arrOfCols.length + j]">
          {{ i * arrOfCols.length + j }}
          <app-item
            [index]="i * arrOfCols.length + j"
            (invoke)="updateIndex($event)"
            [items]="items"
          ></app-item>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
