<div class="products">
  <ng-container *ngIf="arrOfRows">
    <div class="col" *ngFor="let row of arrOfRows; let i = index">
      <div class="row">
        <ng-container *ngFor="let col of arrOfCols; let j = index">
          <ng-container *ngIf="products[i * arrOfCols.length + j]">
            <!-- <div class="product main-product">
              <app-product
                (elementInitialize)="updateProductWidth($event)"
                [product]="products[i * arrOfCols.length + j]"
                [source]="products[i * arrOfCols.length + j].src"
              ></app-product>
            </div>
            <div class="product hover-product">
              <app-product
                [product]="products[i * arrOfCols.length + j]"
                [source]="products[i * arrOfCols.length + j].altSrc"
              ></app-product>
            </div> -->
            <app-item [items]="items"></app-item>
          </ng-container>
          <!--  -->
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
