.products {
  cursor: move;
  // display: grid;
  /* position: absolute; */
  user-select: none;
  width: 26.5rem;
  height: auto !important;
  display: flex;
  flex-direction: column;
  // transform: translateX(100%);
  // align-items: center;
  margin-left: 7rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
}
