// @import "semantic-ui-css/semantic.css";

.ui.table {
  font-size: 1.5rem;
}

.centered {
  text-align: center;
}

.disabled {
  display: none;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  // text-decoration: none !important;
  color: #000000f2 !important;
  cursor: pointer;
}

.ui.form input[type="text"] {
  font-size: 1.3rem;
}
