<div class="ui massive breadcrumb">
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
    <ng-container *ngIf="i < breadcrumbs.length - 1">
      <a
        (click)="onBreadcrumbNavigate(breadcrumb.url)"
        [routerLink]="breadcrumb.url"
        class="section"
        >{{ breadcrumb.text | translate }}</a
      >
      <i class="right chevron icon divider"></i>
    </ng-container>
    <div *ngIf="i === breadcrumbs.length - 1" class="section">
      {{ breadcrumb.text | translate | titlecase }}
    </div>
  </ng-container>
</div>
