<div class="container">
  <div class="line name">
    {{ whishlistItem.product.name | translate }}
  </div>
  <div class="line">
    <div class="product-price product-price-new">
      {{ whishlistItem.product.price | translate }}
    </div>
  </div>
  <form (ngSubmit)="onSubmitCart(cartForm)" #cartForm="ngForm">
    <div class="line cart-controls">
      <span class="icon-control control">
        <a (click)="decreaseQuantity()">
          <i class="ph-minus"></i>
        </a>
      </span>
      <span class="icon-control">
        <div class="quantity">{{ quantity }}</div>
      </span>
      <span class="icon-control control">
        <a (click)="increaseQuantity()">
          <i class="ph-plus"></i>
        </a>
      </span>
    </div>
    <div class="button-wrapper">
      <div class="line button">
        <button type="submit" class="button-text">
          {{ "add to cart" | translate | titlecase }}
        </button>
      </div>
      <div class="line button">
        <a class="button-text">{{ "edit" | translate | titlecase }}</a>
      </div>
      <div class="line button">
        <a
          class="button-text"
          (click)="deleteWhishlistItem(whishlistItem._id)"
          >{{ "remove item" | translate | titlecase }}</a
        >
      </div>
      <input type="hidden" name="quantity" [(ngModel)]="quantity" />
    </div>
  </form>
</div>
