.container {
  font-size: 1.5rem;
}

.product {
  padding: 2% 0;
}

.product-price-new {
  color: black;
}

.product-price::after {
  content: "\20AC";
}

.cart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}

.quantity {
  width: 4rem;
  height: 4rem;
  border: 0.2px solid black;
  border-radius: 50%;
}

.icon-control {
  padding: 0 1rem;
}

.line {
  margin-top: 0.5rem;
}

a {
  cursor: pointer;
}

.button-wrapper {
  margin-top: 3rem;
}

.button {
  margin-top: 1rem;
  border: 0.1rem solid black;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
}

.button-text {
  padding: 0.2rem 0;
}

.quantity {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control:hover {
  color: black;
}

button {
  all: unset;
}
