<div class="single-file">
  <img src="{{ src }}" alt="Image preview..." />

  <div class="info">
    <h4 class="name">{{ data.file.name }}</h4>
    <p class="size">
      {{ size }}
    </p>
    <app-progress-bar [progress]="data.file.progress"></app-progress-bar>
  </div>
  <div class="">
    <i (click)="onSubmitFile()" class="share icon"></i>
  </div>

  <div class="delete" (click)="deleteFile()">
    <i class="trash alternate outline icon"></i>
  </div>

  <!-- START - Radio Buttons for Cover page -->
  <div class="fields">
    <div class="field main-radio-label">
      <div checkbox class="ui radio checkbox main-radio">
        <input type="radio" name="main_page" tabindex="0" class="hidden" />
        <label>main</label>
      </div>
    </div>
    <div class="field">
      <div checkbox class="ui radio checkbox alt-radio">
        <input type="radio" name="alt_page" tabindex="0" class="hidden" />
        <label>alt</label>
      </div>
    </div>
  </div>
  <!-- END - Radio Buttons for Cover page -->
</div>
