@import "semantic-ui-css/semantic.css";

img {
  height: 9rem;
}
.single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;

  .delete {
    // display: flex;
    margin-right: 2rem;
    cursor: pointer;
    // align-self: flex-end;
  }

  display: flex;
  flex-grow: 1;

  .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
  }

  .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .info {
    width: 100%;
    margin: 0% 5%;
  }

  .radio-header {
    font-size: 1.3rem;
    margin-bottom: 14rem;
    color: black;
  }

  .main-radio-label {
    margin-top: 10%;
  }
}
