<div class="elements">
  <ng-container *ngFor="let item of items; let j = index">
    <div class="wrapper" [ngStyle]="{ margin: margin }">
      <ng-container
        [ngTemplateOutlet]="item.firstElement.templateRef"
      ></ng-container>
      <ng-container
        *ngIf="item.secondElement"
        [ngTemplateOutlet]="item.secondElement.templateRef"
      ></ng-container>
      <ng-container
        *ngIf="item.thirdElement"
        [ngTemplateOutlet]="item.thirdElement.templateRef"
      ></ng-container>
    </div>
  </ng-container>
</div>
