$base-width: 20rem;

.elements {
  user-select: none;
  height: auto !important;
  display: flex;
  flex-flow: row wrap;
}

.wrapper {
  position: relative;
  // margin: 2rem;
  height: 100%;
  transition: scrollLeft 0.5s ease-in-out;
  width: min-content;
}

.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.col:hover {
  border-radius: 25%;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // gap: 3%;
}

.element:nth-child(1) {
  width: inherit;
}
