<div class="container" #container>
	<a class="carousel-control-prev" 
		role="button" 
		data-slide="prev"
		*ngIf="totalPages > 1" 
		(click)="currentPage != 1 && changePage(-1)" 
		[ngClass]="{'disabled':currentPage === 1}"
		>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>

	
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let i of arr; let index = index" [ngStyle]="{'width': cardWidth}">
				<span>{{i}}</span>
			</div>
		</div>
	</div>
	<a class="carousel-control-next" 
		role="button" 
		data-slide="next"
		*ngIf="totalPages > 1" 
		(click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>

</div>