.w-100 {
    width: 100%!important;
  }
  
  .container {
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .cards {
    /* width: calc(100% - 8rem); */
    width: 100%;
    overflow: hidden;
  }
  
  .overflow {
    position: relative;
    transition: left 0.5s ease-in-out;
  }
  
  .card {
    height: 30rem;
    background-color: #e0e1e2;
    /* border-radius: 0.5rem; */
    display: inline-block;
    /* margin-right: 1rem; */
    margin: 0 2rem;
    position: relative;
  }
  
  .no-right-margin {
    margin-right: 0px;
  }
  

  /* text inside the card */
  .card span {
    font-size:4.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .left,
  .right {
    /* height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); */
  }
  
  .carousel-control-prev-icon.disabled, 
  .carousel-control-next-icon.disabled {
    background-color:#CCC;
  }


  .left.disabled, .right.disabled {
    /* background-color:#CCC; */
  }
  
  .left {
    /* left: 0; */
  }
  
  .right {
    /* right: 0; */
  }
  

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 10rem;
  width: 10rem;
  outline: black;
  background-size: 100%, 100%;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
  position: absolute;
  
}

.carousel-control-prev-icon{
  left: 0;
  transform: translateX(-70%); 
}

.carousel-control-next-icon {
  right: 0;
  transform: translateX(70%); 
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}