@import "semantic-ui-css/semantic.css";

.ui.table {
  font-size: 1.3rem;
}

.trade-number-container {
  display: flex;
  align-items: baseline;
  gap: 1%;
  padding: 0 3%;
}

.centered {
  text-align: center;
}

.ui.primary.button {
  background-color: rgba(255, 255, 255, 0.08);
  color: black;
  border: 0.1rem solid black;
}

.ui.primary.button:hover,
.ui.primary.button:active,
.ui.primary.button:link,
.ui.primary.button:visited {
  background-color: #1b1c1dfa;
}

.disabled {
  display: none;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  // text-decoration: none !important;
  color: #000000f2 !important;
  cursor: pointer;
}

.ui.form input[type="text"] {
  font-size: 1.3rem;
}

tr.table-header {
  text-align: center;
  letter-spacing: 0.2rem;
}
