<footer class="container">
  <mat-toolbar color="primary">
    <div *ngIf="footer_content" class="footer-wrapper">
      <div *ngIf="footer_content[0].links" class="header logo">
        <div class="logo-container">
          <div>My app</div>
          <div class="social-media">
            <a href="#">
              <i class="icon ph-instagram-logo"></i>
            </a>
            <a href="#">
              <i class="icon ph-facebook-logo"></i>
            </a>
          </div>
          <div class="order">{{ footer_content[0].links[0].text }}</div>
          <div class="order">
            <b>
              {{ footer_content[0].links[1].text }}
            </b>
          </div>
        </div>
      </div>
      <div class="footer-col information">
        <div class="header">
          {{ footer_content[1].header }}
        </div>
        <div class="links">
          <ul>
            <li *ngFor="let link of footer_content[1].links; let i = index">
              {{ link.text }}
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-col contact">
        <div class="header">
          {{ footer_content[2].header }}
        </div>
        <div class="links">
          <ul>
            <li *ngFor="let link of footer_content[2].links; let i = index">
              <a>{{ link.text }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-col newsletter">
        <div class="header">
          {{ footer_content[3].header }}
        </div>
        <div class="links">
          <form
            (ngSubmit)="onRegister(newsLetterForm)"
            [formGroup]="newsLetterForm"
            #emailForm
          >
              <app-input
                [control]="
                  convertToFormControl(newsLetterForm.get('emailControl'))
                "
                [inputElement]="emailElement"
              ></app-input>
            <div class="button">
              <button mat-button type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
