.container {
  margin: 9% 3% 6% 3%;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-weight: 400;
  column-gap: 2%;
}

.links,
.order {
  font-weight: 100;
  font-size: 1.5rem;
}

.social-media {
  margin-bottom: 14%;
}
li {
  list-style: none;
}

.header {
  font-size: 1.8rem;
}

/* .logo {
  font-size: 1.4rem;
} */
