.container {
  padding: 3%;
}

.slider-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* height: 71rem; */
}

.wrapper {
  position: relative;
  margin-right: 7%;
  height: 100%;
  width: 100%;
  transition: scrollLeft 0.5s ease-in-out;
}

// img {
//   width: auto;
// }
/************** Title ****************/

.title-wrapper {
  display: block;
  padding: 1% 0 2% 0;
  transform: translateY(-2rem);
}

.title {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  /* border-bottom: solid 5px; */
}

.title > h3 {
  font-size: 2.5rem;
  font-weight: 400;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}

.title > hr {
  margin-top: 3%;
}

/******************* Controls  ************************/

.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  //   position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem 3% 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  //   font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 50%;
  //   top: 0;
  font-size: 3rem;
  // transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  // opacity effect on hover

  &:hover,
  &:focus {
    opacity: 90%;
  }

  transform: translateY(-5%);

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.15rem solid rgb(0, 0, 0);
  border-bottom: 0.15rem solid rgb(0, 0, 0);
  width: 2rem;
  height: 2rem;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

/****************** Slides *******************/
.slides {
  cursor: move;
  /* position: absolute; */
  user-select: none;
  display: flex;
  flex-direction: row;
  width: 40rem;
  height: auto !important;
}

.main-slide {
  opacity: 1;
  // visibility: visible;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.hover-slide {
  opacity: 0;
  // visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.main-slide:hover {
  opacity: 0;
  // visibility: hidden;
}

.hover-slide:hover {
  opacity: 1;
  // visibility: visible;
}
