<app-spinner *ngIf="isLoading" [spinnerClass]="'circle-thick'"></app-spinner>

<div *ngIf="!isLoading" class="container">
  <div class="title-wrapper">
    <div class="title">
      <button class="control prev" (click)="moveLeft()">
        <span class="arrow left"></span>
      </button>
      <h3>Προσφορές</h3>
      <button class="control next" (click)="moveRight()">
        <span class="arrow right"></span>
      </button>
    </div>
    <hr />
  </div>

  <div
    [ngStyle]="{ cursor: isMouseDown ? 'grabbing' : 'grab' }"
    (mousedown)="mouseDownHandler($event)"
    (mousemove)="mouseMoveHandler($event)"
    (mouseup)="mouseUpHandler($event)"
    (touchstart)="touchStartHandler($event)"
    (touchmove)="touchMoveHandler($event)"
    (touchcancel)="touchCancelHandler($event)"
    #wrapper
    class="slider-container"
  >
    <div class="slides">
      <div #mainSlide class="wrapper" *ngFor="let product of products">
        <div class="slide main-slide">
          <app-product [product]="product" [source]="product.src"></app-product>
        </div>
        <div class="slide hover-slide">
          <app-product
            [product]="product"
            [source]="product.altSrc"
          ></app-product>
        </div>
      </div>
    </div>
  </div>
</div>
