@import "semantic-ui-css/semantic.css";

.ui.menu {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  border: none !important;
  font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik", sans-seri !important;
}

.ui.menu.upper {
  box-shadow: 0px 1px 2px 0 #ffffff;
}

.ui.menu .item {
  padding: 0.8rem 1.3rem;
}

.hamburger-icon {
  padding: 0% 8%;
}

header {
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 10%);
  position: relative;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  // text-decoration: none !important;
  color: #000000f2 !important;
  cursor: pointer;
}

.language-selector.item {
  font-size: 1.3rem;
}

.ui.dropdown.link {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 3rem;
  margin-left: 2%;
}
.ph-list {
  font-size: 2.5rem;
}
.ui.menu .ui.dropdown .menu > .hamburger.item:hover {
  background: none !important;
}

.hamburger-icon:hover,
.ph-list:hover {
  opacity: 0.4;
}

.link.language:hover,
.ui.menu.icon .link.item:hover,
.ui.menu.icon a.item:hover,
.item.link.icon--medium:hover {
  background: none;
  opacity: 0.4;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.spacer--left {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
}

::ng-deep button {
  line-height: 2.5 !important;
}

.ph-x {
  font-size: 2rem;
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 10%);
  border: 0.1rem solid;
  border-radius: 20%;
}

#hamburger-menu {
  margin-top: -50%;
}

.title {
  cursor: pointer;
}

.search-box {
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: ghostwhite;
  font-size: 1.5rem;
  // opacity: 0;
  // transition: opacity 0.5s ease-in-out;
}

.link {
  cursor: pointer;
}

.ui.pointing.dropdown.link.item {
  z-index: 2000;
}

.icon.menu {
  z-index: 3000;
}

#user-icon {
  display: flex;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-left: 3rem !important;
}
.search-icon {
  cursor: pointer;
}

::ng-deep .mat-input-element {
  caret-color: black;
}
