<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row
      [ngStyle.lt-sm]="{ padding: '0 2rem' }"
      class="toolbar-container"
    >
      <app-sub-nav
        class="link"
        fxHide
        fxShow.gt-md="false"
        fxShow.lt-md="true"
        [data]="initialData"
        [isRootNode]="true"
      >
        <ng-template>
          <i class="ph-list"></i>
        </ng-template>
      </app-sub-nav>

      <div
        style="padding-bottom: 1%"
        clas="language-selector"
        fxFlexOrder.gt-md="-1"
        fxFlexOrder.lt-md="1"
        [ngStyle.lt-md]="{ 'margin-left': '3%' }"
        [ngStyle.lt-sm]="{ 'padding-bottom': '1.4%', 'margin-left': '3%' }"
      >
        <a (click)="useLanguage('el')" class="link text--medium"> ΕΛ </a> &#124;
        <a (click)="useLanguage('en')" class="link text--medium">EN </a>
      </div>
      <a
        (click)="toggleActiveClass()"
        class="link icon--medium left-spacer--mini"
      >
        <i class="ph-magnifying-glass"></i>
      </a>
      <span class="spacer"></span>
      <span>My App</span>
      <span class="spacer"></span>
      <a fxShow.lt-sm="false" href="#" class="icon--medium">
        <!-- <mat-icon>share</mat-icon> -->
        <i class="ph-user"></i>
      </a>
      <a fxShow.lt-sm="false" href="#" class="icon--medium">
        <i class="ph-heart"></i>
      </a>
      <a href="#" class="icon--medium">
        <i class="ph-shopping-bag"></i>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row fxShow fxHide.lt-md="true" fxHide.gt-md="false">
      <span class="spacer"></span>
      <ul class="main-nav-list">
        <li
          class="main-nav-link"
          *ngFor="let navBarElement of initialData; let i = index"
        >
          <a
            *ngIf="initialData[i].subNavBarElements!.length === 0"
            href="{{ initialData[i].href }}"
            class="hyperlink text--large"
          >
            {{ initialData[i].text | translate }}</a
          >
          <a
            *ngIf="initialData[i].subNavBarElements!.length > 0"
            class="text--large"
          >
            <app-sub-nav [data]="initialData" [isRootNode]="true">
              <ng-template>
                <a
                  href="{{ initialData[i].href }}"
                  class="hyperlink text--large"
                >
                  {{ initialData[i].text | translate }}
                </a>
              </ng-template>
            </app-sub-nav></a
          >
        </li>
      </ul>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-form-field
    [ngClass]="{ active: isActiveClassEnabled }"
    class="search-box"
    appearance="fill"
  >
    <mat-icon class="search-icon" matPrefix>search</mat-icon>
    <input
      matInput
      type="text"
      aria-label="Search"
      placeholder="Αναζήτηση σε όλο το κατάστημα"
    />
    <mat-icon class="link" (click)="toggleActiveClass()" matSuffix
      >close</mat-icon
    >
  </mat-form-field>
</header>
