<header>
  <!-- first row menu header -->
  <div class="ui borderless menu upper">
    <!-- hamburger dropdown -->
    <div
      fxHide
      fxShow.gt-md="false"
      fxShow.lt-md="true"
      dropdownMenuOpen
      dropdownMenuClose
      class="ui dropdown link"
    >
      <i class="ph-list"></i>
      <div dropdownSubmenuClose class="menu">
        <ng-container *ngFor="let link of initialData">
          <div
            *ngIf="isExpandable(link)"
            dropdownSubmenuClose
            dropdownSubmenuOpen
            class="item"
          >
            <i class="dropdown icon"></i>
            <span class="text">{{ link.text | translate | uppercase }}</span>
            <div dropdownSubmenuClose class="menu">
              <div *ngFor="let sublink of link.subNavBarElements" class="item">
                {{ sublink.text | translate | uppercase }}
              </div>
            </div>
          </div>
          <div *ngIf="!isExpandable(link)" class="item">
            {{ link.text | translate | uppercase }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- END hamburger dropdown -->
    <a class="item"> Home </a>
    <div
      class="language-selector item"
      fxFlexOrder.gt-md="-1"
      fxFlexOrder.lt-md="1"
    >
      <a
        [ngStyle]="{ 'font-weight': activeLanguage === 'el' ? 700 : 400 }"
        (click)="useLanguage('el')"
        class="link text--medium language"
      >
        ΕΛ
      </a>
      &#124;
      <a
        [ngStyle]="{ 'font-weight': activeLanguage === 'en' ? 700 : 400 }"
        (click)="useLanguage('en')"
        class="link text--medium language"
        >EN
      </a>
    </div>
  </div>
  <!-- end first row menu header -->
  <!-- second row menu header -->
  <div [ngClass]="numOfLinks" class="ui pointing fluid item menu borderless">
    <ng-container *ngFor="let link of initialData">
      <a *ngIf="!isExpandable(link)" class="item">{{
        link.text | translate | uppercase
      }}</a>
      <div
        *ngIf="isExpandable(link)"
        dropdownMenuOpen
        dropdownMenuClose
        class="ui pointing dropdown link item"
      >
        <span class="text">{{ link.text | translate | uppercase }}</span>
        <i class="dropdown icon"></i>
        <div dropdownSubmenuClose class="menu">
          <div *ngFor="let sublink of link.subNavBarElements" class="item">
            {{ sublink.text | translate | uppercase }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!--end second row menu header -->
</header>
