header {
  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 10%);
  position: relative;
}

.link {
  cursor: pointer;
}

.hyperlink {
  text-transform: uppercase;
}

.icon--medium {
  margin: 1%;
}

.left-spacer--mini {
  margin-left: 4% !important;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.toolbar-container {
  padding: 0 2rem;
}

.language-selector {
  padding-bottom: 2% !important;
  font-size: 1.5rem;
}

.language {
  font-size: 1.3rem;
  font-weight: 400;
}

.link {
  cursor: pointer;
}

.search-box {
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: ghostwhite;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 0.85;
}

::ng-deep .mat-form-field-prefix {
  padding-right: 5%;
  padding-left: 2%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-underline {
  bottom: 0 !important;
}

::ng-deep .mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik", sans-serif !important;
  line-height: 3.2rem !important;
  font-weight: 600 !important;
}

// ::ng-deep .mat-toolbar {
//   font-size: 1.5rem;
// }

::ng-deep .mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button,
.mat-flat-button {
  font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik", sans-serif !important;
  border-radius: 0 !important;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

::ng-deep .mat-form-field {
  font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik", sans-serif !important;
}
::ng-deep .mat-menu-item {
  letter-spacing: 0.15rem;
}

:ng-deep .mat-menu-panel {
  border-radius: 0%;
}
