<header>
  <!-- START first row menu header -->
  <div class="ui borderless menu upper">
    <!-- START hamburger dropdown -->
    <div
      fxHide
      fxShow.gt-md="false"
      fxShow.lt-md="true"
      class="ui dropdown link"
      iconMenuOpenClose
      (click)="updateHamburgerStatus($event)"
    >
      <i [@slideInOut] *ngIf="!isOpenHamburgerMenu" class="ph-list"></i>
      <i
        [@slideOutIn]
        *ngIf="isOpenHamburgerMenu"
        iconMenuOpenClose
        class="ph-x"
      ></i>
      <div class="menu" id="hamburger-menu">
        <!-- START icons for mobile -->
        <div fxHide fxShow.lt-sm="true" class="hamburger item">
          <a
            (click)="openLoginModal()"
            class="link icon--medium hamburger-icon"
          >
            <i class="ph-user"></i>
          </a>
          <a class="link icon--medium hamburger-icon">
            <i class="ph-heart"></i>
          </a>
        </div>
        <div fxHide fxShow.lt-sm="true" class="divider"></div>
        <!-- END icons for mobile -->

        <ng-container *ngFor="let link of initialData">
          <div
            *ngIf="isExpandable(link)"
            dropdownSubmenuClose
            dropdownSubmenuOpen
            class="item"
          >
            <i class="dropdown icon"></i>
            <span class="text">{{ link.text | translate | uppercase }}</span>
            <div dropdownSubmenuClose class="menu">
              <div *ngFor="let sublink of link.subNavBarElements" class="item">
                {{ sublink.text | translate | uppercase }}
              </div>
            </div>
          </div>
          <div
            routerLink="home/{{ link.text }}"
            *ngIf="!isExpandable(link)"
            class="item"
          >
            {{ link.text | translate | uppercase }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- END hamburger dropdown -->
    <!-- START language selector -->
    <div
      class="language-selector item"
      fxFlexOrder.gt-md="-1"
      fxFlexOrder.lt-md="1"
    >
      <a
        [ngStyle]="{ 'font-weight': activeLanguage === 'el' ? 700 : 400 }"
        (click)="useLanguage('el')"
        class="link language"
      >
        ΕΛ&nbsp;
      </a>
      &#124;
      <a
        [ngStyle]="{ 'font-weight': activeLanguage === 'en' ? 700 : 400 }"
        (click)="useLanguage('en')"
        class="link language"
        >&nbsp;EN
      </a>
      <!-- END language selector -->
      <!-- START search box -->
      <a (click)="toggleSearchBox()" class="item link icon--medium">
        <i class="ph-magnifying-glass"></i>
      </a>
      <!-- END search box -->
    </div>

    <div (click)="onTestAuth()" class="item">test</div>
    <div
      ngClass="spacer"
      [ngClass.gt-md]="{ spacer: true, 'spacer--left': false }"
      [ngClass.lt-md]="{ 'spacer--left': true, spacer: false }"
    ></div>
    <span [routerLink]="''" class="item title">My App</span>
    <div class="spacer"></div>
    <!-- START icons -->
    <div class="item">
      <div class="ui icon borderless menu upper">
        <!-- if not loggedin open login/signup modal -->
        <a
          *ngIf="!(isAuthenticated$ | async)"
          fxShow.lt-sm="false"
          (click)="openLoginModal()"
          class="item link icon--medium"
        >
          <i class="ph-user"></i>
        </a>
        <!-- if loggedIn open profile options -->
        <div
          *ngIf="isAuthenticated$ | async"
          iconMenuOpenClose
          class="ui dropdown"
          id="user-icon"
        >
          <a fxShow.lt-sm="false" class="item link icon--medium">
            <i class="ph-user"></i>
          </a>
          <div class="ui icon pointing menu">
            <div class="item">my profile</div>
            <div class="item">orders</div>
            <div (click)="onLogout()" class="item">logout</div>
          </div>
        </div>

        <a
          routerLink="home/account/whishlist"
          fxShow.lt-sm="false"
          class="item link icon--medium"
        >
          <i class="ph-heart"></i>
          <div
            *ngIf="
              (isAuthenticated$ | async) &&
              account &&
              account.whishlist &&
              account.whishlist.length > 0
            "
            class="badge"
          >
            {{ account.whishlist.length }}
          </div>
        </a>
        <a class="item link icon--medium" routerLink="home/cart">
          <i class="ph-shopping-bag"></i>
          <div
            *ngIf="
              (isAuthenticated$ | async) &&
              account &&
              account.cart &&
              account.cart.length > 0
            "
            class="badge"
          >
            {{ account.cart.length }}
          </div>
        </a>
      </div>
    </div>
    <!-- END icons -->
  </div>
  <!--END first row menu header -->
  <!-- START second row menu header -->
  <div
    fxShow
    fxHide.lt-md="true"
    fxHide.gt-md="false"
    [ngClass]="numOfLinks"
    class="ui pointing fluid item menu borderless"
  >
    <ng-container *ngFor="let link of initialData">
      <!---- START main menu links ----->
      <!------ START  menu links no expandables ------>
      <a
        *ngIf="!isExpandable(link)"
        routerLink="home/{{ link.text }}"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="item"
        >{{ link.text | translate | uppercase }}</a
      >
      <!------ END  menu links no expandables ------>
      <!------ START  menu links expandables ------>
      <div
        *ngIf="isExpandable(link)"
        menuOpenClose
        class="ui dropdown link item"
      >
        <span class="text">
          {{ link.text | translate | uppercase }}
        </span>
        <i class="dropdown icon"></i>
        <!------ END  menu links expandables ------>
        <!---- END main menu links ---->
        <!---- START secondary dropdown menu links  for each main link ---->
        <div dropdownSubmenuClose class="menu">
          <div *ngFor="let sublink of link.subNavBarElements" class="item">
            {{ sublink.text | translate | uppercase }}
          </div>
        </div>
        <!---- END secondary dropdown menu links for each main link ---->
      </div>
    </ng-container>
  </div>
  <!--END second row menu header -->
  <!-- START search input element box -->
  <form
    (keydown.enter)="onSubmitSearch()"
    #theSearchForm="ngForm"
    (ngSubmit)="onSubmitSearch()"
  >
    <mat-form-field
      [@slideUpDown]
      *ngIf="isOpenSearchBox"
      class="search-box"
      appearance="fill"
    >
      <mat-icon (click)="onSubmitSearch()" class="search-icon" matPrefix
        >search</mat-icon
      >
      <input
        name="search"
        [(ngModel)]="search"
        #searchInput="ngModel"
        matInput
        type="text"
        aria-label="Search"
        placeholder="{{ 'search all over the store' | translate }}"
      />
      <mat-icon class="link" (click)="toggleSearchBox()" matSuffix
        >close</mat-icon
      >
    </mat-form-field>
  </form>

  <!-- END search input element box -->
</header>
