<div [ngStyle.lt-md]="{ 'font-size': '1.6rem' }" class="product product-name">
  {{ product.name }}
</div>
<div
  [ngStyle.lt-md]="{ 'font-size': '1.3rem' }"
  class="product product-description"
>
  {{ product.description }}
</div>
<div class="product product-actions link">
  <a (click)="onUpdateWhishlist()" class="icon--medium">
    <i *ngIf="!isAddedToWhishlist" class="ph-heart"></i>
    <i *ngIf="isAddedToWhishlist" class="ph-heart-fill"></i>
  </a>
  <a href="#" class="icon--medium">
    <i *ngIf="!isAddedToCart" class="ph-shopping-bag"></i>
    <i *ngIf="isAddedToCart" class="ph-shopping-bag-fill"></i>
  </a>
</div>
<div class="product product-price--wrapper link">
  <span *ngIf="product.sales" class="product-price product-price-old">
    {{ oldPrice }}
  </span>
  <span class="product-price product-price-new">
    {{ product.price }}
  </span>
</div>
