<div class="range_container">
  <div class="sliders_control">
    <input
      (input)="controlFromSlider(fromSlider, toSlider, fromInput)"
      #fromSlider
      id="fromSlider"
      type="range"
      value="10"
      min="0"
      max="100"
    />
    <input
      #toSlider
      (input)="controlToSlider(fromSlider, toSlider, toInput)"
      id="toSlider"
      type="range"
      value="30"
      min="0"
      max="100"
    />
  </div>
  <div class="form_control">
    <div class="form_control_container">
      <div class="form_control_container__time">Min</div>
      <input
        #fromInput
        (input)="controlFromInput(fromSlider, fromInput, toInput, toSlider)"
        class="form_control_container__time__input"
        type="number"
        id="fromInput"
        value="10"
        min="0"
        max="100"
      />
    </div>
    <div class="form_control_container">
      <div class="form_control_container__time">Max</div>
      <input
        #toInput
        (input)="controlToInput(toSlider, fromInput, toInput, toSlider)"
        class="form_control_container__time__input"
        type="number"
        id="toInput"
        value="30"
        min="0"
        max="100"
      />
    </div>
  </div>
</div>
