img {
  // cursor: pointer;
  // height: 40rem;
  width: 100%;
}

.main-slide {
  opacity: 1;
  // visibility: visible;
  // transition: opacity 0.5s ease-in-out, visibility 1.2s;
  transition: opacity 0.5s ease-in-out;
}

.main-slide:hover {
  opacity: 0;
  // visibility: hidden;
}

.sales-text--wrapper {
  width: 30%;
  top: 0.8rem;
  right: 0;
  font-size: 2rem;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sales-text--wrapper > hr {
  border: none;
  height: 0.5rem;
  background-color: #c8c8c8;
}

.sales-text {
  padding-left: 55%;
  /* border-bottom: solid 5px #c8c8c8; */
  justify-self: end;
  padding: 5%;
}

.product-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  white-space: pre-wrap !important;
}
