<a
  *ngIf="isRootNode"
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="menuTrigger.openMenu()"
  (mouseleave)="menuTrigger.closeMenu()"
>
  <ng-container [ngTemplateOutlet]="inputElement"> </ng-container>
</a>
<button
  *ngIf="!isRootNode"
  mat-menu-item
  [matMenuTriggerFor]="menu"
  (menuOpened)="getData(trigger)"
>
  {{ trigger | translate }}
</button>
<mat-menu #menu="matMenu" [hasBackdrop]="false">
  <ng-container *ngFor="let node of data; let i = index">
    <button mat-menu-item>
      <app-sub-nav
        [trigger]="node.text"
        *ngIf="isExpandable(node); else menuItem"
      ></app-sub-nav>
    </button>
    <ng-template #menuItem>
      <button mat-menu-item>{{ node.text | translate }}</button>
    </ng-template>
  </ng-container>
</mat-menu>
