<a
  *ngIf="isRootNode"
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="openMyMenu()"
>
  <ng-container [ngTemplateOutlet]="inputElement"> </ng-container>
</a>
<button
  *ngIf="!isRootNode"
  mat-menu-item
  [matMenuTriggerFor]="menu"
  (menuOpened)="getData(trigger)"
>
  {{ trigger | translate }}
</button>
<mat-menu #menu="matMenu" overlapTrigger="false" [hasBackdrop]="false">
  <span (mouseleave)="closeMyMenu()">
    <ng-container *ngFor="let node of data; let i = index">
      <button mat-menu-item>
        <app-sub-nav
          [trigger]="node.text"
          *ngIf="isExpandable(node); else menuItem"
        ></app-sub-nav>
      </button>
      <ng-template #menuItem>
        <button mat-menu-item>{{ node.text | translate }}</button>
      </ng-template>
    </ng-container>
  </span>
</mat-menu>
