<td class="category-description">
  <input
    class="disabled"
    [(ngModel)]="category.description"
    #descriptionInput="ngModel"
    placeholder="{{ category.description | translate | titlecase }}"
    type="text"
    value="{{ category.description }}"
  />
  <div class="div-text">
    {{ descriptionInput.value | translate | titlecase }}
  </div>
</td>
<td class="category-code">
  <input
    class="disabled"
    [(ngModel)]="category.code"
    #codeInput="ngModel"
    placeholder="{{ category.code }}"
    type="text"
    value="{{ category.code }}"
  />
  <div class="div-text">
    {{ codeInput.value }}
  </div>
</td>
<td>
  <a
    enableform
    [colStart]="2"
    [isOpenForm]="true"
    (click)="updateRow(descriptionInput.value, codeInput.value)"
    class="disabled checkmark-icon"
  >
    <i class="large green checkmark icon"></i>
  </a>
</td>
<td>
  <a enableform [colStart]="2" [isOpenForm]="false">
    <i class="ph-pencil-thin"></i>
  </a>
</td>
<td>
  <a (click)="deleteRow(descriptionInput.value, codeInput.value)">
    <i class="ph-trash-thin"></i>
  </a>
</td>
