.col {
  display: flex;
  flex-direction: column;
}

.row {
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: row;
}

.element {
  margin: 5%;
  min-height: 3rem;
  min-width: 3rem;
  border: 0.1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:hover {
  font-weight: 600;
}
