<div class="container">
  <div class="col" *ngFor="let row of arrOfRows; let i = index">
    <div class="row">
      <ng-container *ngFor="let col of arrOfCols; let j = index">
        <div class="element" *ngIf="i === 0 && elementsArr[j]">
          <a href="#">{{ elementsArr[j].text }}</a>
        </div>
        <div
          class="element"
          *ngIf="i === 1 && elementsArr[arrOfCols.length + j]"
        >
          <a href="#">{{ elementsArr[arrOfCols.length + j].text }}</a>
        </div>
        <div
          class="element"
          *ngIf="i !== 0 && i !== 1 && elementsArr[i * arrOfCols.length + j]"
        >
          <a href="#">{{ elementsArr[i * arrOfCols.length + j].text }}</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
