@import "semantic-ui-css/semantic.css";

.external-wrapper {
  display: flex;

  margin-top: 2%;
}

.header-wrapper {
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  margin: 1rem 0;
}

.header {
  font-size: 2rem;
  font-weight: 600;
}

.header::after {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: #c8c8c8;
  display: block;
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}

.cart {
  flex: 3 1 auto;
}

.summary {
  flex: 1 1 auto;
  border: 0.3rem solid black;
}

.cart,
.summary {
  margin: 2rem 2rem;
}

.summary-container {
  padding: 10% 7%;
}

.summary-header {
  margin-bottom: 4%;
  font-size: 2rem;
  font-weight: 600;
}

.ui.table thead th {
  background: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
}

.ui.table thead th:nth-child(1) {
  text-align: left;
}

.ui.table body td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.table {
  border-radius: 0%;
  border-left: none;
  border-right: none;
}

.col {
  display: flex;
  align-items: center;
}

.product-description {
  margin-left: 4%;
  white-space: nowrap;
  font-size: 1.7rem;
}

.wrapper {
  position: relative;
  height: 100%;
  width: fit-content;
  transition: scrollLeft 0.5s ease-in-out;
}

.product {
  padding: 2% 0;
}

.main-product {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hover-product {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.main-product:hover {
  opacity: 0;
}

.hover-product:hover {
  opacity: 1;
}

.cart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}

.quantity {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.2px solid black;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-control {
  padding: 0 1rem;
}

button {
  all: unset;
}

a {
  color: #555;
  opacity: 1;
  cursor: pointer;
}

a:hover {
  color: #555;
  opacity: 0.4;
}

.product-price-new {
  color: black;
  text-align: center;
  font-size: 1.8rem;
}

.product-price::before {
  content: "\20AC";
}

.subtotal {
  font-size: 1.7rem;
  color: black;
  font-weight: 500;
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
}

.subtotal::after {
  content: "";
  height: 0.1rem;
  background-color: #c8c8c8;
  display: block;
  margin-top: 5%;
}

.subtotal-number,
.total-number {
  position: absolute;
  right: 0;
}
.subtotal-number::after,
.total-number::after {
  content: "\20AC";
}

.total {
  position: relative;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}

.row {
  margin-top: 5%;
}

.rowX2 {
  margin-top: 10%;
}

.rowX4 {
  margin-top: 20%;
}

button {
  all: unset;
}

.button {
  /* margin-top: 1rem; */
  border: 0.1rem solid black;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  color: white !important;
  background-color: black;
}

.button-text {
  padding: 0.2rem 0;
  font-size: initial;
  font-weight: 700;
}
