<div class="container">
  <!-- START  header upper segment -->
  <div class="header-wrapper">
    <span class="header">{{ pageHeader | translate }} </span>
  </div>
  <app-breadcrumb [breadcrumbs]="breadcrumbItems"></app-breadcrumb>
  <!-- END header upper segment-->

  <!-- START lower segment -->
  <div class="external-wrapper">
    <!-- START card table -->
    <div class="cart">
      <table class="ui table">
        <thead>
          <tr>
            <th class="four wide">{{ "products" | translate | uppercase }}</th>
            <th class="one wide">{{ "qty" | translate | uppercase }}</th>
            <th class="one wide">{{ "price" | translate | uppercase }}</th>
            <th class="one wide"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart; let i = index">
            <td class="col">
              <div class="wrapper">
                <div class="product main-product">
                  <app-product
                    img_container_width="11rem"
                    img_height="16.5rem"
                    img_width="100%"
                    [product]="item.product"
                    [source]="item.product.src"
                  ></app-product>
                </div>
                <div class="product hover-product">
                  <app-product
                    img_container_width="11rem"
                    img_height="16.5rem"
                    img_width="100%"
                    [product]="item.product"
                    [source]="item.product.altSrc"
                  ></app-product>
                </div>
              </div>
              <div class="product-description">
                {{ item.product.name | translate }}
              </div>
            </td>
            <td class="one wide">
              <div class="cart-controls">
                <span class="icon-control control">
                  <a (click)="decreaseQuantity(item)">
                    <i class="ph-minus"></i>
                  </a>
                </span>
                <span class="icon-control">
                  <div class="quantity">{{ item.quantity }}</div>
                </span>
                <span class="icon-control control">
                  <a (click)="increaseQuantity(item)">
                    <i class="ph-plus"></i>
                  </a>
                </span>
              </div>
            </td>
            <td class="one wide">
              <div class="product-price product-price-new">
                {{ item.product.price | translate }}
              </div>
            </td>
            <td class="one wide">
              <div class="cart-controls">
                <span class="icon-control control">
                  <a
                    [routerLink]="['edit-product']"
                    [queryParams]="{
                      cart_item_id: item._id,
                      product_id: item.product._id
                    }"
                  >
                    <i class="ph-pencil-simple"></i>
                  </a>
                </span>
                <span class="icon-control control">
                  <a>
                    <i class="ph-trash" (click)="deleteCartItem(item._id)"></i>
                  </a>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END cart table -->
    <!-- START summary container -->
    <div class="summary">
      <div class="summary-container">
        <div class="summary-header">
          {{ "summary" | translate | uppercase }}
        </div>
        <!-- <div class="ui divider"></div> -->
        <app-tax-shipping></app-tax-shipping>
        <div class="rowX2 subtotal">
          <span>
            {{ "subtotal" | translate | titlecase }}
          </span>
          <span class="subtotal-number">{{ subtotal }}</span>
        </div>
        <div class="rowX2 total">
          <span>
            {{ "total" | translate | titlecase }}
          </span>
          <span class="total-number">{{ total }}</span>
        </div>
        <div class="rowX4 button">
          <button [routerLink]="['checkout']" type="submit" class="button-text">
            {{ "checkout" | translate | titlecase }}
          </button>
        </div>
      </div>

      <!-- <div #paypalRef></div> -->
    </div>
    <!-- END summary container -->
  </div>
  <!-- END lower segment -->
</div>
