@import "semantic-ui-css/semantic.css";

.external-wrapper {
  display: flex;

  margin-top: 2%;
}

.header-wrapper {
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  margin: 1rem 0;
}

.header {
  font-size: 2rem;
  font-weight: 600;
}

.header::after {
  content: "";
  width: 20rem;
  height: 0.1rem;
  background-color: #c8c8c8;
  display: block;
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}

.orders {
  flex: 30 1 auto;
}

.summary {
  flex: 1 1 auto;
}

.orders,
.summary {
  margin: 2rem 1rem;
}

.ui.table thead th {
  background: none;
  text-align: center;
}

.ui.table {
  border-radius: 0%;
  border-left: none;
  border-right: none;
}

.wrapper {
  position: relative;
  height: 100%;
  width: fit-content;

  transition: scrollLeft 0.5s ease-in-out;
}

.product {
  padding: 2% 0;
}

.main-product {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hover-product {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.main-product:hover {
  opacity: 0;
}

.hover-product:hover {
  opacity: 1;
}

.cart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}

.quantity {
  width: 4rem;
  height: 4rem;
  border: 0.2px solid black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-control {
  padding: 0 1rem;
}

.line {
  margin-top: 0.5rem;
}

button {
  all: unset;
}

a {
  color: #555;
}
.product-price-new {
  color: black;
  text-align: center;
}

.product-price::after {
  content: "\20AC";
}
