<!-- <a class="link" toggleActive>Open SideBar</a> -->

<div class="admin-container">
  <div class="col-expand-icon">
    <div [@slideOutIn] *ngIf="!isOpenSideBar" class="link expand-icon">
      <a (click)="isOpenSideBar = true" class="link icon-link right-align">
        <div class="icon-wrapper">
          <i class="angle double right icon"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sidebar">
    <div [@slideInOut] *ngIf="isOpenSideBar" class="ui inverted vertical menu">
      <div class="sideBar-header">
        <a
          (click)="isOpenSideBar = false"
          class="link icon-link right-align collapse-icon"
        >
          <div class="icon-wrapper">
            <i class="angle double left icon"></i>
          </div>
        </a>
        <a class="logo">
          <img src="assets/images/admin/astronaut.webp" />
        </a>
      </div>
      <a routerLink="home" routerLinkActive="active" class="item">
        <i class="home icon"></i>
        Home
      </a>
      <a routerLink="add-supplier" routerLinkActive="active" class="item">
        <i class="warehouse icon"></i>

        Supplier
      </a>
      <a routerLink="trade-numbers" routerLinkActive="active" class="item">
        <i class="block layout icon"></i>
        Trade Numbers
      </a>
      <a class="item" routerLinkActive="active">
        <i class="smile icon"></i>
        Friends
      </a>
      <a routerLink="add-products" routerLinkActive="active" class="item">
        <i class="upload icon"></i>
        Products
      </a>
    </div>
  </div>

  <div
    class="col-main"
    [ngStyle]="{ 'margin-left': isOpenSideBar ? '16rem' : '0' }"
  >
    <router-outlet></router-outlet>
  </div>
</div>
