/* @import "semantic-ui-css/semantic.css"; */

* {
  font-size: 1.7rem;
}

.link {
  cursor: pointer;
}

.ui.vertical.menu {
  height: 100vh;
}

/* .admin-container {
  display: flex;
} */

.ui.menu {
  font-size: 1.5rem;
}

.icon-link {
  color: #ffffffe6;
}

a,
a:hover,
.icon-link,
.icon-link:hover,
.icon-link:active,
.icon-link:link {
  text-decoration: none;
  color: #ffffffe6;
}

.collapse-icon {
  padding: 9%;
}
.expand-icon {
  position: sticky;
  top: 2rem;
  background: #1b1c1dfa;
  padding: 0.9%;
  font-size: 1.5rem;
  height: fit-content;
  border-radius: 10%;
  margin-top: 1%;
}

.sideBar-header {
  padding-bottom: 15%;
}

.icon-wrapper {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper:hover {
  border-bottom: 0.2rem solid #ffffffe6;
}

.link {
  cursor: pointer;
}

.right-align {
  display: flex;
  justify-content: right;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 9rem;
  border-radius: 50%;
}

.col-sidebar {
  position: fixed;
}

.col-main {
  padding: 2rem;
  transition: all 0.2s ease-in-out;
  /* margin-left: 16rem; */
}

.col-expand-icon {
  position: relative;
}

.ui.inverted.menu {
  background-color: #1b1c1dfa;
}
