<a *ngIf="isRootNode" [matMenuTriggerFor]="menu">
  <ng-container [ngTemplateOutlet]="inputElement"> </ng-container>
</a>
<button
  *ngIf="!isRootNode"
  mat-menu-item
  [matMenuTriggerFor]="menu"
  (menuOpened)="getData(trigger)"
>
  {{ trigger }}
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let node of data; let i = index">
    <button mat-menu-item>
      <app-sub-nav
        [trigger]="node.text"
        *ngIf="isExpandable(node); else menuItem"
      ></app-sub-nav>
    </button>
    <ng-template #menuItem>
      <button mat-menu-item>{{ node.text }}</button>
    </ng-template>
  </ng-container>
</mat-menu>
