.container {
  margin: 2% ;
}

.wrapper {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-areas: "area0 area1 area2 area3"; */
  row-gap: 1%;
  column-gap: 1%;
}

.category {
  /* height: 50rem; */
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  height: 100vh;
  /* width: 25vw; */
  /* background-attachment: fixed; */
}

/* .category > img {
  visibility: hidden;
  height: 100%;
} */

.category:hover {
  transform: scale(1.025);
}

.category-text-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 0.4rem;
  letter-spacing: 0.8rem;
}

.category-text {
  margin: 8% 0;
}

.category-name {
  color: aliceblue;
}

button {
  background-color: aliceblue;
  color: black !important;
}
