<div class="container">
  <div class="wrapper">
    <div
      class="category"
      *ngFor="let category of categories; let i = index"
      [style.background-image]="
        'linear-gradient(rgba(0, 0, 0, -0.3), rgba(0, 0, 0, 0.7)), url(' +
        categories[i].imageSrc +
        ')'
      "
    >
      <div class="category-text-container">
        <div class="category-text category-name">
          {{ categories[i].name }}
        </div>
        <button class="category-text" mat-button color="accent">SHOP</button>
      </div>
    </div>
  </div>
</div>
