<div class="container">
  <div class="row" *ngFor="let row of arrOfRows; let i = index">
    <ng-container *ngFor="let col of arrOfCols; let j = index">
      <div
        class="col"
        *ngIf="elementList[i * arrOfCols.length + j]"
        [ngClass]="{ active: activeStatusArray[i * arrOfCols.length + j] }"
        (click)="toggleActiveClass(i * arrOfCols.length + j)"
      >
        <div
          (click)="onSubmit(i * arrOfCols.length + j)"
          class="button box {{ elementList[i * arrOfCols.length + j].text_en }}"
          [ngClass]="{ element: show_text }"
        >
          <ng-container *ngIf="show_text"
            >{{ elementList[i * arrOfCols.length + j].text_en }}
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
