// :host {
//   ::ng-deep .mat-toolbar,
//   .mat-toolbar h1,
//   .mat-toolbar h2,
//   .mat-toolbar h3,
//   .mat-toolbar h4,
//   .mat-toolbar h5,
//   .mat-toolbar h6 {
//     font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik",
//       sans-serif !important;
//     line-height: 3.2rem !important;
//     font-weight: 600 !important;
//   }

//   ::ng-deep .mat-button {
//     font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik",
//       sans-serif !important;
//     border-radius: 0%;
//   }

//   ::ng-deep .mat-form-field {
//     font-family: "Source Serif Pro", "Roboto Serif", "Roboto", "Rubik",
//       sans-serif !important;
//   }
//   ::ng-deep .mat-menu-item {
//     letter-spacing: 0.15rem;
//   }

//   :ng-deep .mat-menu-panel {
//     border-radius: 0%;
//   }
// }

app-user-app {
  header {
    box-shadow: none !important;
  }

  .ui.segment {
    border: 0px !important;
    margin: 4rem 0 !important;
  }

  .button,
  a {
    // text-decoration: none !important;
    color: #000000f2 !important;
    cursor: pointer;
  }
  .button-wrapper {
    .button:hover,
    .button:visited,
    .button:link,
    .button:active,
    a:hover,
    a:visited,
    a:link,
    a:active {
      color: white !important;
      cursor: pointer !important;
    }
  }
}
