.container {
  /* text-align: center; */
  padding-left: 10%;
}

ul {
  margin: 2.2rem 0;
  list-style: none;
  text-decoration: none;
}

.element {
  margin: 1.5rem 0;
  cursor: pointer;
}

.element:hover {
  font-weight: 600;
}

.active {
  font-weight: 600;
}

a {
  text-transform: uppercase;
}
