<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!userIsAuthenticated">
  <form
    [formGroup]="theLoginForm"
    (submit)="onLogin(theLoginForm)"
    *ngIf="!isLoading"
  >
    <mat-form-field color="accent">
      <mat-label>{{ "E-mail" | translate }}</mat-label>

      <input formControlName="email" matInput name="email" type="email" />
      <mat-error *ngIf="theLoginForm.get('email')!.invalid">{{
        "Please enter a valid email address" | translate
      }}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>{{ "Password" | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        name="password"
        type="password"
        required
      />
      <mat-error *ngIf="theLoginForm.get('password')!.invalid">{{
        "Please enter a valid password" | translate
      }}</mat-error>
    </mat-form-field>
    <button #submitButton [style.opacity]="0" type="submit">Login</button>
  </form>
</div>
<div *ngIf="userIsAuthenticated">
  <h5>{{ "You are already logged in" | translate }}</h5>
</div>
