<div class="container">
  <!-- START  header upper segment -->
  <div class="header-wrapper">
    <span class="header">{{ pageHeader | translate | titlecase }} </span>
  </div>
  <app-breadcrumb [breadcrumbs]="breadcrumbItems"></app-breadcrumb>
  <!-- END header upper segment-->

  <!-- START lower segment -->
  <app-product-showcase
    *ngIf="product && cart_item"
    [product]="product"
    [cart_item]="cart_item"
  ></app-product-showcase>
  <app-product-showcase
    *ngIf="product && !cart_item"
    [product]="product"
  ></app-product-showcase>
</div>
