<div class="carousel-container--2cols">
  <div
    gdAreas="img txt"
    gdAreas.lt-md="img | txt"
    gdColumns="1.5fr 1fr"
    gdColumns.lt-md="1fr"
    class="carousel-wrapper--2cols"
  >
    <!-- Image carousel -->
    <div
      gdArea="img"
      class="carousel--custom carousel-img"
      (mouseout)="slideShow()"
      (mouseover)="stopSlideShow()"
    >
      <ng-container *ngFor="let slide of dynamicDatabase.slides; let i = index">
        <img
          *ngIf="i === currentSlide"
          [src]="slide.src"
          class="slide"
          [@slideAnimation]="animationType"
        />
      </ng-container>
    </div>
    <!-- Text carousel -->
    <div gdArea="txt" class="carousel--custom carousel-text">
      <ng-container *ngFor="let slide of dynamicDatabase.slides; let i = index">
        <div
          [ngStyle.lt-md]="{ margin: 'auto 5%' }"
          *ngIf="i === currentSlide"
          class="slide-text-container"
        >
          <div class="slide-text slide-header">
            {{ slide.header }}
          </div>
          <div class="slide-text slide-subheader">
            {{ slide.subheader }}
          </div>
          <div class="slide-button slide-text">
            <button
              [ngStyle.lt-md]="{ 'margin-top': '1%', 'margin-bottom': '10%' }"
              mat-button
              color="accent"
            >
              SHOP
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- controls -->
  <div
    [ngStyle.gt-md]="{ margin: '1% auto' }"
    [ngStyle.lt-md]="{ margin: '0 auto 3% auto' }"
    class="nav-list"
    (mouseout)="slideShow()"
    (mouseover)="stopSlideShow()"
  >
    <ng-container *ngFor="let slide of dynamicDatabase.slides; let i = index">
      <a (click)="currentSlide = i"></a>
    </ng-container>
  </div>
  <!-- <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button> -->
</div>
