<div class="carousel-container--2cols">
  <div class="carousel-wrapper--2cols">
    <div
      class="carousel--custom"
      (mouseout)="slideShow()"
      (mouseover)="stopSlideShow()"
    >
      <!-- carousel -->

      <ng-container *ngFor="let slide of slides; let i = index">
        <img
          *ngIf="i === currentSlide"
          [src]="slide.src"
          class="slide"
          [@slideAnimation]="animationType"
        />
      </ng-container>
      <!-- controls -->
    </div>
    <div class="carousel--custom carousel-text">
      <!-- carousel -->
      <ng-container *ngFor="let slide of slides; let i = index">
        <!-- <img
          *ngIf="i === currentSlide"
          [src]="slide.src"
          class="slide"
          [@slideAnimation]="animationType"
        /> -->
        <div *ngIf="i === currentSlide" class="slide-text-container">
          <div class="slide-text slide-header">
            {{ slides[i].header }}
          </div>
          <div class="slide-text slide-subheader">
            {{ slides[i].subheader }}
          </div>
          <div class="slide-button slide-text">
            <button mat-button color="accent">SHOP</button>
          </div>
        </div>
      </ng-container>
      <!-- controls -->
    </div>
  </div>
  <div class="nav-list">
    <ng-container *ngFor="let slide of slides; let i = index">
      <a (click)="currentSlide = i"></a>
    </ng-container>
  </div>
  <!-- <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick(slides.length)">
    <span class="arrow right"></span>
  </button> -->
</div>
