// =========================
// Next and Prev buttons
// =========================
.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  // opacity effect on hover

  &:hover,
  &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

// ///////////////////////////////

.animition-type-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  color: white;
  padding-top: 1em;
}

.title {
  //background: rgba(0,0,0,0.5);
  user-select: none;
}

.button {
  // background: #3f51b5;
  cursor: pointer;
  border-radius: 0.3em;
}

.title,
.button {
  height: 2.5em;
  min-width: 4.5em;

  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 0.7em;
  // transition: background 20ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:not(:last-child) {
    margin-right: 1em;
  }
}
.button:hover,
.active {
  // background: #2196f3;
}

// =========================
// Carousel with 2 columns
// =========================

:host {
  flex: 1;
}

.carousel-container--2cols {
  // max-height: 75vh;
  // min-height: 62vh;
  width: 100%;
  padding: 2em 2em;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

.carousel-wrapper--2cols {
  border-radius: 0.5em;
  overflow: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;
  column-gap: 2%;
}

.carousel-img {
  flex: 2 1 auto;
}

.carousel-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel--custom {
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
}

.carousel--custom > img {
  overflow: hidden;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.slide {
  object-fit: cover;
  width: 100%;
  // height: 100%;
  // transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  // transition: transform 0.6s ease-in-out;
  // transform-origin: center center;
  // transform: scale(1);
  // transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5em;
  cursor: pointer;
}

.slide:hover {
  transform: scale(1.025);
}
//////////// navigation list /////////////

.nav-list {
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  margin: 1% auto;
  // transform: translateY(-150%);
}

.nav-list > a {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #595354;
  background-clip: content-box;
  border: 0.1rem solid transparent;
  // border-radius: 50%;
  font-size: 0;
  // transition: transform 0.1s;
  margin: 1% 1% 0 0;
  cursor: pointer;
}

// ////////////
.slide-text-container {
  font-size: 3rem;
  font-weight: 500;
}

.slide-text {
  margin-top: 3%;
}

.slide-subheader {
  font-size: 1.5rem;
}

.slide-button {
  text-align: center;
}

.slide-button > button {
  margin-top: 5%;
  background-color: rgb(85, 85, 85);
  color: white;
}

.slide-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s;
  z-index: -1;
}

.slide-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
