<app-spinner *ngIf="isLoading" [spinnerClass]="'circle-thick'"></app-spinner>

<div *ngIf="!isLoading" class="carousel-container--2cols">
  <div
    gdAreas="img txt"
    gdAreas.lt-md="img | txt"
    gdColumns="1.5fr 1fr"
    gdColumns.lt-md="1fr"
    class="carousel-wrapper--2cols"
  >
    <!-- Image carousel -->
    <ng-container *ngFor="let slide of slides; let i = index">
      <div
        [@slideInOut]
        *ngIf="currentSlide === i"
        gdArea="img"
        class="carousel--custom carousel-img slide-item"
        [ngClass]="{ active: currentSlide === i }"
        (mouseout)="slideShow()"
        (mouseover)="stopSlideShow()"
      >
        <img [src]="slide.src" class="slide" />
      </div>
      <!-- Text carousel -->
      <div
        [ngClass]="{ active: currentSlide === i }"
        gdArea="txt"
        class="carousel--custom carousel-text slide-item"
      >
        <div
          [ngStyle.lt-md]="{ margin: 'auto 5%' }"
          class="slide-text-container"
        >
          <div class="slide-text slide-header">
            {{ slide.header }}
          </div>
          <div class="slide-text slide-subheader">
            {{ slide.subheader }}
          </div>
          <div class="slide-button slide-text">
            <button
              [ngStyle.lt-md]="{ 'margin-top': '1%', 'margin-bottom': '10%' }"
              mat-button
              color="accent"
            >
              SHOP
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- controls -->
  <div
    [ngStyle.gt-md]="{ margin: '1% auto' }"
    [ngStyle.lt-md]="{ margin: '0 auto 3% auto' }"
    class="nav-list"
    (mouseout)="slideShow()"
    (mouseover)="stopSlideShow()"
  >
    <ng-container *ngFor="let slide of dynamicDatabase.slides; let i = index">
      <a (click)="currentSlide = i"></a>
    </ng-container>
  </div>
  <!-- <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button> -->
</div>
