.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  //   position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem 3% 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  //   font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 50%;
  //   top: 0;
  font-size: 3rem;
  // transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  // opacity effect on hover

  &:hover,
  &:focus {
    opacity: 90%;
  }

  transform: translateY(-5%);

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.15rem solid rgb(0, 0, 0);
  border-bottom: 0.15rem solid rgb(0, 0, 0);
  width: 2rem;
  height: 2rem;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}

.main-slide {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 1.2s;
}

.hover-slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out, visibility 1.2s;
}

.main-slide:hover {
  opacity: 0;
}

.hover-slide:hover {
  opacity: 1;
}

// .slide-item {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 1.2s ease-in-out, visibility 1.2s;
//   z-index: -1;
//   // position: absolute;
//   // top: 0;
//   // left: 0;
// }

// .slide-item.active {
//   opacity: 1;
//   visibility: visible;
//   z-index: 10;
// }
