.container {
  padding: 0 3%;
  margin-top: 5%;
}

.title-wrapper {
  display: block;
  padding: 3% 0 2% 0;
  transform: translateY(-2rem);
}

.title {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  /* border-bottom: solid 5px; */
}

.title > h3 {
  font-size: 2.5rem;
  font-weight: 400;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}

.title > hr {
  margin-top: 3%;
}

.container--slider {
  display: flex;
  flex-direction: row;
  width: 40rem;
  height: auto !important;
}

.slider {
  position: relative;
  padding-left: 3rem;
  height: 100%;
  width: 100%;
}

.slider > img {
  cursor: pointer;
  height: 40rem;
  min-width: 30rem;
}

.hide-scrollbar .drag-scroll-content {
  height: auto !important;
  overflow: hidden !important;
  width: auto !important;
}

.sales-text--wrapper {
  width: 30%;
  top: 0.8rem;
  right: 0;
  font-size: 2rem;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.slider:last-child > .sales-text--wrapper {
  padding-right: 5%;
}

.sales-text {
  padding-left: 55%;
  /* border-bottom: solid 5px #c8c8c8; */
  justify-self: end;
  padding: 5%;
}

.sales-text--wrapper > hr {
  border: none;
  height: 0.5rem;
  background-color: #c8c8c8;
}

.product {
  padding: 2% 0;
}

.product-actions > a {
  padding: 2% 3%;
  font-size: 3rem;
  font-weight: 600;
}

.product-name {
  font-size: 2rem;
  color: black;
}
.product-description {
  font-size: 1.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.product-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  white-space: pre-wrap !important;
}

.product-price {
  font-size: 2rem;
  margin: 0 3%;
}

.product-price-old {
  text-decoration: line-through;
}

.product-price-new {
  color: black;
}

.product-price::after {
  content: "\20AC";
}
