<div class="container">
  <div class="title-wrapper">
    <div class="title">
      <button class="control prev" (click)="moveLeft()">
        <span class="arrow left"></span>
      </button>
      <h3>Προσφορές</h3>
      <button class="control next" (click)="moveRight()">
        <span class="arrow right"></span>
      </button>
    </div>
    <hr />
  </div>

  <drag-scroll #nav [scrollbar-hidden]="true" class="hide-scrollbar">
    <div class="container-wrapper">
      <div class="container--slider">
        <!-- each slider -->
        <div class="slider" *ngFor="let porduct of products; let i = index">
          <!-- main-slide -->
          <div class="slide main-slide">
            <img drag-scroll-item appActivate [src]="products[i].src" />
            <div class="sales-text--wrapper">
              <div class="sales-text">-{{ products[i].sales }}%</div>
              <hr />
            </div>
            <div class="product-details">
              <div class="product product-name">{{ products[i].name }}</div>
              <div class="procuct product-description">
                {{ products[i].description }}
              </div>
              <div class="product product-actions">
                <a href="#" class="icon--medium">
                  <i class="ph-heart"></i>
                </a>
                <a href="#" class="icon--medium">
                  <i class="ph-shopping-bag"></i>
                </a>
              </div>
              <div class="product product-price--wrapper">
                <span class="product-price product-price-old">
                  {{ products[i].price }}
                </span>
                <span class="product-price product-price-new">
                  {{ products[i].special_price }}
                </span>
              </div>
            </div>
          </div>
          <!-- hover slide -->
          <div class="slide hover-slide">
            <img drag-scroll-item appActivate [src]="products[i].altSrc" />
            <div class="sales-text--wrapper">
              <div class="sales-text">-{{ products[i].sales }}%</div>
              <hr />
            </div>
            <div class="product-details">
              <div class="product product-name">{{ products[i].name }}</div>
              <div class="procuct product-description">
                {{ products[i].description }}
              </div>
              <div class="product product-actions">
                <a href="#" class="icon--medium">
                  <i class="ph-heart"></i>
                </a>
                <a href="#" class="icon--medium">
                  <i class="ph-shopping-bag"></i>
                </a>
              </div>
              <div class="product product-price--wrapper">
                <span class="product-price product-price-old">
                  {{ products[i].price }}
                </span>
                <span class="product-price product-price-new">
                  {{ products[i].special_price }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </drag-scroll>
</div>
