<drag-scroll #nav [scrollbar-hidden]="true" class="hide-scrollbar">
  <div class="container--slider">
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
    <img drag-scroll-item src="/assets/images/image-1.png" />
  </div>
</drag-scroll>
