.container--slider {
  width: 40rem;
  height: auto !important;
}

.container--slider > img {
  cursor: pointer;
  height: 40rem;
  min-width: 30rem;
  margin-left: 10rem;
}

.hide-scrollbar .drag-scroll-content {
  height: auto !important;
  overflow: hidden !important;
  width: auto !important;
}
