<app-responsive-catalog
  [elements]="whishlistItems"
  [justify_content]="'center'"
  [margin]="'2rem'"
>
  <parent-element *ngFor="let whishItem of whishlistItems">
    <!-- START product image -->
    <ng-template firstElement>
      <div class="product main-product">
        <app-product
          [whishlist]="true"
          img_container_width="20rem"
          img_height="30rem"
          img_width="100%"
          [product]="whishItem.product"
          source="{{ whishItem.product.src }}"
        ></app-product>
      </div>
    </ng-template>
    <ng-template secondElement="">
      <div class="product hover-product">
        <app-product
          [whishlist]="true"
          img_container_width="20rem"
          img_height="30rem"
          img_width="100%"
          [product]="whishItem.product"
          source="{{ whishItem.product.altSrc }}"
        ></app-product>
      </div>
    </ng-template>
    <!-- END product image -->
    <!-- START product details -->
    <ng-template thirdElement>
      <div class="product-details">
        <app-whishlist-details
          [whishlistItem]="whishItem"
          [account]="account"
        ></app-whishlist-details>
      </div>
    </ng-template>
    <!-- END product details -->
  </parent-element>
</app-responsive-catalog>
