<div class="container">
  <!-- START  header upper segment -->
  <div class="header-wrapper">
    <span class="header">{{ pageHeader | translate | titlecase }} </span>
  </div>
  <app-breadcrumb [breadcrumbs]="breadcrumbItems"></app-breadcrumb>
  <div class="steps-wrapper">
    <div class="ui large steps">
      <div [ngClass]="{ disabled: active_route !== 'shipping' }" class="step">
        <i class="truck icon"></i>
        <div class="content">
          <div class="title">{{ "shipping" | translate | titlecase }}</div>
          <div class="description">Choose your shipping options</div>
        </div>
      </div>
      <div [ngClass]="{ disabled: active_route !== 'billing' }" class="step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">{{ "billing" | translate | titlecase }}</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
