<form
  [formGroup]="theProductForm"
  (submit)="onSubmit(theProductForm)"
  *ngIf="!isLoading"
>
  <div
    class="ui form"
    [ngClass]="{ error: theProductForm.invalid && theProductForm.touched }"
  >
    <!-- START two fields --name, price  -->
    <div class="two fields">
      <div
        class="field"
        [ngClass]="{
          error:
            theProductForm.get('name')!.invalid &&
            theProductForm.get('name')!.touched
        }"
      >
        <label>{{ "product name" | translate | uppercase }}</label>
        <input
          formControlName="name"
          placeholder="{{ 'product name' | translate | titlecase }}"
          type="text"
        />
      </div>

      <div
        class="field"
        [ngClass]="{
          error:
            theProductForm.get('price')!.invalid &&
            theProductForm.get('price')!.touched
        }"
      >
        <label>{{ "price" | translate | uppercase }}</label>
        <input
          formControlName="price"
          placeholder="{{ 'price' | translate | titlecase }}"
          type="text"
        />
      </div>
    </div>
    <!-- END two fields --name, price  -->
    <!-- START error messages of two fields  -->
    <div
      *ngIf="
        theProductForm.get('name')!.invalid ||
        theProductForm.get('price')!.invalid
      "
      class="error-message two fields"
    >
      <!---- START name error message ---->
      <div class="field">
        <div
          *ngIf="
            theProductForm.get('name')!.invalid &&
            theProductForm.get('name')!.touched
          "
          class="error-message"
        >
          {{ "value required" | translate | titlecase }}
        </div>
      </div>
      <!---- END name error message ---->
      <!---- START price error message ---->
      <div class="field">
        <div
          *ngIf="
            theProductForm.get('price')!.invalid &&
            theProductForm.get('price')!.touched
          "
          class="header"
        >
          {{ "value required" | translate | titlecase }}
        </div>
      </div>
      <!---- END price error message ---->
    </div>
    <!---- END error messages of two fields  ---->
    <div class="two fields line">
      <!-- START input of heel height -->
      <div
        class="field"
        [ngClass]="{
          error:
            theProductForm.get('heel_height')!.invalid &&
            theProductForm.get('heel_height')!.touched
        }"
      >
        <label>{{ "heel height" | translate | uppercase }}</label>
        <div openOptions class="ui selection dropdown">
          <div class="default text">{{ "select" | translate | titlecase }}</div>
          <i class="dropdown icon"></i>
          <input
            formControlName="heel_height"
            type="hidden"
            name="heel_height"
          />
          <div class="menu transition">
            <div
              *ngFor="let heel_height of heel_heights"
              selectOption
              class="item"
              [attr.data-value]="heel_height.text"
            >
              {{ heel_height.text | translate | uppercase }}
            </div>
          </div>
        </div>
      </div>
      <!-- START input of heel height -->
      <div class="field">
        <label>{{ "colors" | translate | uppercase }}</label>
        <div openOptions class="ui dropdown selection multiple">
          <select multiple="" class="ui dropdown">
            <option value="">select colors</option>
            <option *ngFor="let color of colors" value="{{ color.text }}">
              {{ color.text }}
            </option>
          </select>
          <div class="default text">
            {{ "select colors" | translate | titlecase }}
          </div>
          <div class="menu transition">
            <div
              multipleSelectOption
              *ngFor="let color of colors"
              class="item"
              [attr.data-value]="color.text"
            >
              <div class="row">
                <div class="box {{ color.text }}"></div>
                {{ color.text | translate | uppercase }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- START error message of heel height -->
    <div
      *ngIf="
        theProductForm.get('heel_height')!.invalid &&
        theProductForm.get('heel_height')!.touched
      "
      class="ui error message"
    >
      <div class="header">{{ "value required" | translate | titlecase }}</div>
    </div>
    <!-- END error message of heel height -->

    <!-- 
    <div class="field">
      <label>E-mail</label>
      <input type="email" placeholder="joe@schmoe.com" />
    </div>
    <div class="ui error message">
      <div class="header">Action Forbidden</div>
      <p>
        You can only sign up for an account once with a given e-mail address.
      </p>
    </div> -->
    <div class="ui submit button">{{ "submit" | translate | titlecase }}</div>
  </div>
</form>

<!-- <form
  [formGroup]="theProductForm"
  (submit)="onSubmit(theProductForm)"
  *ngIf="!isLoading"
  class="col"
>
  <mat-form-field>
    <mat-label>{{ "Product Name" | translate }}</mat-label>
    <input formControlName="name" matInput type="text" required email />
    <mat-error *ngIf="theProductForm.get('name')!.invalid">{{
      "Please enter a name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "colors" | translate }}</mat-label>
    <input formControlName="colors" matInput type="text" required />
    <mat-error *ngIf="theProductForm.get('colors')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "sizes" | translate }}</mat-label>
    <input formControlName="sizes" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('sizes')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "material" | translate }}</mat-label>
    <input formControlName="material" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('material')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "price" | translate }}</mat-label>
    <input formControlName="price" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('price')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "sales" | translate }}</mat-label>
    <input formControlName="sales" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('sales')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "heel height" | translate }}</mat-label>
    <input formControlName="heel_height" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('heel_height')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "description" | translate }}</mat-label>
    <input formControlName="description" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('description')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "images" | translate }}</mat-label>
    <input formControlName="images" matInput type="text" />
    <mat-error *ngIf="theProductForm.get('images')!.invalid">{{
      "Please enter a valid name" | translate
    }}</mat-error>
  </mat-form-field>

  <button class="submit-button" #submitButton mat-raised-button type="submit">
    submit
  </button>
</form> -->
