@import "semantic-ui-css/semantic.css";

.ui.form {
  font-size: 1.3rem;
}

.ui.button {
  font-size: 1.5rem;
}

.info.message {
  display: none;
  color: #276f86;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  .info-message-container {
    display: flex;
    flex-direction: column;
    .header {
      text-align: center;
      margin-bottom: 1%;
    }
    .info-text {
      font-size: 1.3rem;
      padding-bottom: 3%;
    }
    .x-icon-container {
      display: flex;
      justify-content: right;
      margin-bottom: 1%;
    }

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: #276f86 !important;
      cursor: pointer;
    }
  }
}

.error .message {
  color: #912d2b;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  .error-message-container {
    display: flex;
    flex-direction: column;
    .header {
      text-align: center;
      margin-bottom: 1%;
    }
    .error-text {
      font-size: 1.3rem;
      padding-bottom: 3%;
    }
    .x-icon-container {
      display: flex;
      justify-content: right;
      margin-bottom: 1%;
    }

    a,
    a:hover,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: #912d2b !important;
      cursor: pointer;
    }
  }
}

.ui.form .field.error label {
  color: #555;
}

.ui.form .fields {
  margin-bottom: 0.5rem;
}

.line {
  padding-top: 1%;
}

.row {
  display: flex;
  align-items: center;
}

.box {
  /* if margin is changed updateRowsCols() methods should be updated*/
  margin-right: 0.6rem;
  height: 1rem;
  width: 1rem;
  border: 0.1rem solid;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  box-shadow: 0px 0px 9px 3px black;
}

.black {
  background-color: black;
}

.red {
  background-color: #d91111;
}

.blue {
  background-color: blue;
}

.green {
  background-color: #79bd94;
}

.white {
  background-color: white;
}

.beige {
  background-color: #dbceab;
}

.brown {
  background-color: #8a4911;
}

.yellow {
  background-color: #ffff00;
}

.pink {
  background-color: #f580e7;
}

.mocha {
  background-color: #ae8c68;
}

.purple {
  background-color: #8f0e8f;
}

.orange {
  background-color: #fa7908;
}
